<template>
	<section class="fit-content-large" v-if="isLoading">Loading...</section>
	<section class="fit-content-large" v-else-if="error.message">
			<p class="text-red-500 text-sm">{{ error.message }}</p>
	</section>
	<section v-if="member && spaceship && !isLoading && !error.message">
		<div class="fit-content mb-8">
			<h1 class="text-center text-3xl">Battle</h1>
		</div>
		<Game
			:name="member.name"
			:spaceship="spaceship"
			:token="token"
		/>
	</section>
</template>

<script setup lang="ts">
import { ref, onMounted } from "vue";

import Game from "@/components/Game.vue";
import type { Member } from "@/models/member.models";
import type { ResponseMessage } from "@/models/api.models";
import configurationApi from "@/services/configuration.api";
import type { Configuration } from "@/models/configuration.models";
import authApi from "@/services/auth.api";
import { useMember } from "@/stores/member";

const member = ref<Member>();
const spaceship = ref<Configuration>();
const token = ref<string>("");

const memberStore = useMember();

const error = ref<ResponseMessage>({ message: "", code: 0 });
const isLoading = ref(false);

onMounted(async () => {
	isLoading.value = true;
	try {
		const [
			getMainConfiguration,
			getWebsocketToken
		] = await Promise.all([
			configurationApi.getMainConfiguration(),
			authApi.getWebsocketToken(),
		]);

		member.value = memberStore.getMember;
		spaceship.value = getMainConfiguration;
		token.value = getWebsocketToken.token;
	} catch(err: any) {
		error.value = err;
	}
	isLoading.value = false;
})
</script>