<template>
	<section class="fit-content-large" v-if="isLoading">Loading...</section>
	<section class="fit-content-large" v-else-if="error.message">
			<p class="text-red-500 text-sm">{{ error.message }}</p>
	</section>
	<section class="fit-content-large" v-if="member && !error.message && !isLoading">
		<form @submit.prevent="routeParamId ? updateConfiguration(routeParamId) : createConfiguration()">
			<div>
				<h1 class="text-3xl font-bold mb-8">{{ routeParamId ? `Edit your configuration: ${configurationLight.name}` : 'Create your configuration' }}</h1>
			</div>
			<div class="mb-4">
				<h2 class="text-lg mb-4">Select a base frame</h2>
				<div v-if="spaceshipModels">
					<ul class="grid grid-cols-[repeat(auto-fill,minmax(15%,200px))] gap-6">
						<li v-for="ownedSpaceship in ownedSpaceships" :key="ownedSpaceship.spaceshipId">
							<div class="p-4 rounded-xl bg-light-400 border-2" :class="{ 'border-indigo-500': configurationLight!.spaceshipId === ownedSpaceship.spaceshipId }">
								<div class="mb-2">
									<h3 class="text-sm">
										<span class="underline"><span class="underline">Model:</span></span> {{ spaceshipModels.find((s) => s.spaceshipModelId === ownedSpaceship.spaceshipModelId)?.name }}
									</h3>
								</div>
								<div class="mb-2">
									<span v-if="isSpaceshipAlreadyUsed(ownedSpaceship.spaceshipId)" class="rounded-full bg-gray-400 py-1 px-3 text-light-50 text-xs">Already used</span>
									<span v-else class="rounded-full bg-indigo-500 py-1 px-3 text-light-50 text-xs">Available</span>
								</div>
								<div class="flex flex-row gap-2">
									<input
										type="radio"
										:id="ownedSpaceship.spaceshipId"
										:value="ownedSpaceship.spaceshipId"
										name="configuration-spaceship"
										v-model="configurationLight.spaceshipId"
										:checked="configurationLight.spaceshipId === ownedSpaceship.spaceshipId"
										:disabled="isSpaceshipAlreadyUsed(ownedSpaceship.spaceshipId)"
										required
									/>
									<label :for="ownedSpaceship.spaceshipId" class="text-sm">Select</label>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div v-if="configurationLight && configurationLight.spaceshipId && selectedSpaceshipModel">
				<div class="flex flex-col gap-2 w-sm mb-4">
					<label for="configuration-name">Name</label>
					<input
						type="text"
						id="configuration-name"
						class="rounded-xl border-indigo-500 p-2 border-2"
						placeholder="Name..."
						v-model="configurationLight.name"
						inputmode="text"
						required
					/>
				</div>
				<div class="mb-4">
					<h2 class="text-lg mb-1">Complete module slots</h2>
					<p class="text-sm">Your configuration must at least contain an engine.</p>
				</div>
				<div>
					<ul class="flex flex-col gap-10">
						<li v-for="(moduleZone, i) in selectedSpaceshipModel.moduleZones" :key="moduleZone.moduleZoneId">
							<div class="p-4 rounded-xl bg-light-400 border-2">
								<h3 class="text-md mb-4">
									<strong>Zone {{ i }} : {{ moduleZone.moduleZoneId }}</strong>
								</h3>
								<ul>
									<li v-for="(moduleSlot, i) in selectedSpaceshipModel.moduleSlots.filter((m) => m.moduleZoneId === moduleZone.moduleZoneId)" :key="moduleSlot.moduleSlotId">
										<div class="p-4 rounded-xl bg-light-700 border-2 mb-4">
											<h4>
												<strong>Slot {{ i }} :</strong> {{ moduleSlot.moduleSlotId }}
											</h4>
											<p>
												<strong>Type:</strong> {{ moduleSlot.moduleType }}
											</p>
											<p>Size: {{ moduleSlot.size }}</p>
											<div class="mt-2">
												<div v-if="moduleSlot.moduleType === 'WEAPON'">
													<div v-if="weaponModels && configurationLight.weapons">
														<ul class="grid grid-cols-[repeat(auto-fill,minmax(15%,200px))] gap-6">
															<li v-for="ownedWeapon in ownedWeapons" :key="ownedWeapon.weaponId">
																<div class="p-4 rounded-xl bg-light-400 border-2" :class="{ 'border-indigo-500': configurationLight.weapons[configurationLight.weapons.findIndex((w) => w.moduleSlotId === moduleSlot.moduleSlotId)].weaponId === ownedWeapon.weaponId }">
																	<div class="mb-2">
																		<h3 class="text-sm">
																			<span class="underline">Model:</span> {{ weaponModels.find((w) => w.weaponModelId === ownedWeapon.weaponModelId)?.name }}
																		</h3>
																		<p class="text-sm">
																			<span class="underline">Size:</span> {{ weaponModels.find((w) => w.weaponModelId === ownedWeapon.weaponModelId)?.size }}
																		</p>
																	</div>
																	<div class="mb-2">
																		<span v-if="ownedWeapon.spaceshipId !== null && ownedWeapon.spaceshipId !== routeParamId && ownedWeapon.spaceshipId !== configurationLight.spaceshipId" class="rounded-full bg-gray-400 py-1 px-3 text-light-50 text-xs">Already used</span>
																		<span v-else-if="weaponModels.find((w) => w.weaponModelId === ownedWeapon.weaponModelId)!.size > moduleSlot.size" class="rounded-full bg-gray-400 py-1 px-3 text-light-50 text-xs">Too big</span>
																		<span v-else class="rounded-full bg-indigo-500 py-1 px-3 text-light-50 text-xs">Available</span>
																	</div>
																	<div class="flex flex-row gap-2">
																		<input
																			type="radio"
																			:id="ownedWeapon.weaponId"
																			:value="ownedWeapon.weaponId"
																			:name="`configuration-weapon-${moduleSlot.moduleSlotId}`"
																			v-model="configurationLight.weapons[configurationLight.weapons.findIndex((w) => w.moduleSlotId === moduleSlot.moduleSlotId)].weaponId"
																			:checked="configurationLight.weapons.find((w) => w.moduleSlotId === moduleSlot.moduleSlotId)?.weaponId === ownedWeapon.weaponId"
																			:disabled="ownedWeapon.spaceshipId !== null && ownedWeapon.spaceshipId !== routeParamId && ownedWeapon.spaceshipId !== configurationLight.spaceshipId"
																		/>
																		<label :for="ownedWeapon.weaponId" class="text-sm">Select</label>
																	</div>
																</div>
															</li>
															<li>
																<div class="p-4 rounded-xl bg-light-400 border-2" :class="{ 'border-indigo-500': configurationLight.weapons[configurationLight.weapons.findIndex((w) => w.moduleSlotId === moduleSlot.moduleSlotId)].weaponId == null }">
																	<div class="mb-2">
																		<h3 class="text-sm">Empty</h3>
																	</div>
																	<div class="flex flex-row gap-2">
																		<input
																			type="radio"
																			id="weapon-empty"
																			:value="null"
																			name="configuration-weapon-empty"
																			v-model="configurationLight.weapons[configurationLight.weapons.findIndex((w) => w.moduleSlotId === moduleSlot.moduleSlotId)].weaponId"
																			:checked="configurationLight.weapons.find((w) => w.moduleSlotId === moduleSlot.moduleSlotId)?.weaponId == null"
																		/>
																		<label for="weapon-empty" class="text-sm">Select</label>
																	</div>
																</div>
															</li>
														</ul>
													</div>
												</div>
												<div v-else-if="moduleSlot.moduleType === 'CARGO'">
													<div v-if="cargoModels && configurationLight.cargo">
														<ul class="grid grid-cols-[repeat(auto-fill,minmax(15%,200px))] gap-6">
															<li v-for="ownedCargo in ownedCargos" :key="ownedCargo.cargoId">
																<div class="p-4 rounded-xl bg-light-400 border-2" :class="{ 'border-indigo-500': configurationLight.cargo.cargoId === ownedCargo.cargoId }">
																	<div class="mb-2">
																		<h3 class="text-sm">
																			<span class="underline">Model:</span> {{ cargoModels.find((w) => w.cargoModelId === ownedCargo.cargoModelId)?.name }}
																		</h3>
																		<p class="text-sm">
																			<span class="underline">Size:</span> {{ cargoModels.find((w) => w.cargoModelId === ownedCargo.cargoModelId)?.size }}
																		</p>
																	</div>
																	<div class="mb-2">
																		<span v-if="ownedCargo.spaceshipId !== null && ownedCargo.spaceshipId !== routeParamId && ownedCargo.spaceshipId !== configurationLight.spaceshipId" class="rounded-full bg-gray-400 py-1 px-3 text-light-50 text-xs">Already used</span>
																		<span v-else-if="cargoModels.find((c) => c.cargoModelId === ownedCargo.cargoModelId)!.size > moduleSlot.size" class="rounded-full bg-gray-400 py-1 px-3 text-light-50 text-xs">Too big</span>
																		<span v-else class="rounded-full bg-indigo-500 py-1 px-3 text-light-50 text-xs">Available</span>
																	</div>
																	<div class="flex flex-row gap-2">
																		<input
																			type="radio"
																			:id="ownedCargo.cargoId"
																			:value="ownedCargo.cargoId"
																			:name="`configuration-cargo-${moduleSlot.moduleSlotId}`"
																			v-model="configurationLight.cargo.cargoId"
																			:checked="configurationLight.cargo.cargoId === ownedCargo.cargoId"
																			:disabled="ownedCargo.spaceshipId !== null && ownedCargo.spaceshipId !== routeParamId && ownedCargo.spaceshipId !== configurationLight.spaceshipId"
																		/>
																		<label :for="ownedCargo.cargoId" class="text-sm">Select</label>
																	</div>
																</div>
															</li>
															<li>
																<div class="p-4 rounded-xl bg-light-400 border-2" :class="{ 'border-indigo-500': configurationLight.cargo.cargoId == null }">
																	<div class="mb-2">
																		<h3 class="text-sm">Empty</h3>
																	</div>
																	<div class="flex flex-row gap-2">
																		<input
																			type="radio"
																			id="cargo-empty"
																			:value="null"
																			name="configuration-cargo-empty"
																			v-model="configurationLight.cargo.cargoId"
																			:checked="configurationLight.cargo.cargoId == null"
																		/>
																		<label for="cargo-empty" class="text-sm">Select</label>
																	</div>
																</div>
															</li>
														</ul>
													</div>
												</div>
												<div v-else-if="moduleSlot.moduleType === 'ENGINE'">
													<div v-if="engineModels">
														<ul class="grid grid-cols-[repeat(auto-fill,minmax(15%,200px))] gap-6">
															<li v-for="ownedEngine in ownedEngines" :key="ownedEngine.engineId">
																<div class="p-4 rounded-xl bg-light-400 border-2" :class="{ 'border-indigo-500': configurationLight.engine.engineId === ownedEngine.engineId }">
																	<div class="mb-2">
																		<h3 class="text-sm">
																			<span class="underline">Model:</span> {{ engineModels.find((w) => w.engineModelId === ownedEngine.engineModelId)?.name }}
																		</h3>
																		<p class="text-sm">
																			<span class="underline">Size:</span> {{ engineModels.find((w) => w.engineModelId === ownedEngine.engineModelId)?.size }}
																		</p>
																	</div>
																	<div class="mb-2">
																		<span v-if="ownedEngine.spaceshipId !== null && ownedEngine.spaceshipId !== routeParamId && ownedEngine.spaceshipId !== configurationLight.spaceshipId" class="rounded-full bg-gray-400 py-1 px-3 text-light-50 text-xs">Already used</span>
																		<span v-else-if="engineModels.find((e) => e.engineModelId === ownedEngine.engineModelId)!.size > moduleSlot.size" class="rounded-full bg-gray-400 py-1 px-3 text-light-50 text-xs">Too big</span>
																		<span v-else class="rounded-full bg-indigo-500 py-1 px-3 text-light-50 text-xs">Available</span>
																	</div>
																	<div class="flex flex-row gap-2">
																		<input
																			type="radio"
																			:id="ownedEngine.engineId"
																			:value="ownedEngine.engineId"
																			:name="`configuration-engine-${moduleSlot.moduleSlotId}`"
																			v-model="configurationLight.engine.engineId"
																			:checked="configurationLight.engine.engineId === ownedEngine.engineId"
																			:disabled="ownedEngine.spaceshipId !== null && ownedEngine.spaceshipId !== routeParamId && ownedEngine.spaceshipId !== configurationLight.spaceshipId"
																			required
																		/>
																		<label :for="ownedEngine.engineId" class="text-sm">Select</label>
																	</div>
																</div>
															</li>
														</ul>
													</div>
												</div>
												<div v-else-if="moduleSlot.moduleType === 'SHIELD'">
													<div v-if="shieldModels && configurationLight.shield">
														<ul class="grid grid-cols-[repeat(auto-fill,minmax(15%,200px))] gap-6">
															<li v-for="ownedShield in ownedShields" :key="ownedShield.shieldId">
																<div class="p-4 rounded-xl bg-light-400 border-2" :class="{ 'border-indigo-500': configurationLight.shield.shieldId === ownedShield.shieldId }">
																	<div class="mb-2">
																		<h3 class="text-sm">
																			<span class="underline">Model:</span> {{ shieldModels.find((w) => w.shieldModelId === ownedShield.shieldModelId)?.name }}
																		</h3>
																		<p class="text-sm">
																			<span class="underline">Size:</span> {{ shieldModels.find((w) => w.shieldModelId === ownedShield.shieldModelId)?.size }}
																		</p>
																	</div>
																	<div class="mb-2">
																		<span v-if="ownedShield.spaceshipId !== null && ownedShield.spaceshipId !== routeParamId && ownedShield.spaceshipId !== configurationLight.spaceshipId" class="rounded-full bg-gray-400 py-1 px-3 text-light-50 text-xs">Already used</span>
																		<span v-else-if="shieldModels.find((s) => s.shieldModelId === ownedShield.shieldModelId)!.size > moduleSlot.size" class="rounded-full bg-gray-400 py-1 px-3 text-light-50 text-xs">Too big</span>
																		<span v-else class="rounded-full bg-indigo-500 py-1 px-3 text-light-50 text-xs">Available</span>
																	</div>
																	<div class="flex flex-row gap-2">
																		<input
																			type="radio"
																			:id="ownedShield.shieldId"
																			:value="ownedShield.shieldId"
																			:name="`configuration-shield-${moduleSlot.moduleSlotId}`"
																			v-model="configurationLight.shield.shieldId"
																			:checked="configurationLight.shield.shieldId === ownedShield.shieldId"
																			:disabled="ownedShield.spaceshipId !== null && ownedShield.spaceshipId !== routeParamId && ownedShield.spaceshipId !== configurationLight.spaceshipId"
																		/>
																		<label :for="ownedShield.shieldId" class="text-sm">Select</label>
																	</div>
																</div>
															</li>
															<li>
																<div class="p-4 rounded-xl bg-light-400 border-2" :class="{ 'border-indigo-500': configurationLight.shield.shieldId == null }">
																	<div class="mb-2">
																		<h3 class="text-sm">Empty</h3>
																	</div>
																	<div class="flex flex-row gap-2">
																		<input
																			type="radio"
																			id="shield-empty"
																			:value="null"
																			name="configuration-shield-empty"
																			v-model="configurationLight.shield.shieldId"
																			:checked="configurationLight.shield.shieldId == null"
																		/>
																		<label for="shield-empty" class="text-sm">Select</label>
																	</div>
																</div>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="mt-4 flex flex-row justify-center">
				<button
					type="submit"
					class="bg-indigo-500 hover:bg-indigo-300 py-2 px-6 rounded-xl text-light-50  disabled:bg-gray-400 disabled:cursor-not-allowed"
					:disabled="configurationLight.spaceshipId === '' || configurationLight.engine.engineId === '' || configurationLight.name === ''"
				>{{ routeParamId ? "Update configuration" : "Create configuration" }}</button>
			</div>
		</form>
	</section>
</template>

<script setup lang="ts">
import { ref, onMounted, watch, reactive } from "vue";
import { useRoute, useRouter } from "vue-router";
import type { Member } from "@/models/member.models";
import type { ResponseMessage } from "@/models/api.models";
import configurationApi from "@/services/configuration.api";
import { type ConfigurationLight, type Configuration, ModuleType } from "@/models/configuration.models";
import spaceshipApi from "@/services/spaceship/spaceship.api";
import cargoApi from "@/services/cargo/cargo.api";
import engineApi from "@/services/engine/engine.api";
import shieldApi from "@/services/shield/shield.api";
import weaponApi from "@/services/weapon/weapon.api";
import type { Cargo } from "@/models/cargo/cargo.models";
import type { Engine } from "@/models/engine/engine.models";
import type { Shield } from "@/models/shield/shield.models";
import type { Spaceship } from "@/models/spaceship/spaceship.models";
import type { Weapon } from "@/models/weapon/weapon.models";
import type { SpaceshipModel } from "@/models/spaceship/spaceshipModel.models";
import type { CargoModel } from "@/models/cargo/cargoModel.models";
import type { EngineModel } from "@/models/engine/engineModel.models";
import type { ShieldModel } from "@/models/shield/shieldModel.models";
import type { WeaponModel } from "@/models/weapon/weaponModel.models";
import cargoModelApi from "@/services/cargo/cargoModel.api";
import engineModelApi from "@/services/engine/engineModel.api";
import shieldModelApi from "@/services/shield/shieldModel.api";
import spaceshipModelApi from "@/services/spaceship/spaceshipModel.api";
import weaponModelApi from "@/services/weapon/weaponModel.api";
import { useMember } from "@/stores/member";

const memberStore = useMember();
const router = useRouter();
const route = useRoute();

const routeParamId = route.params.spaceshipId as string | undefined;
const member = ref<Member>();

const configurationLight = reactive<ConfigurationLight>({
	spaceshipId: "",
	spaceshipModelId: "",
	name: "",
	weapons: [],
	engine: {
		engineId: "",
		moduleSlotId: "",
	},
	shield: {
		shieldId: null,
		moduleSlotId: "",
	},
	cargo: {
		cargoId: null,
		moduleSlotId: "",
	},
});
const configurations = ref<Configuration[]>();

const cargoModels = ref<CargoModel[]>();
const engineModels = ref<EngineModel[]>();
const spaceshipModels = ref<SpaceshipModel[]>();
const shieldModels = ref<ShieldModel[]>();
const weaponModels = ref<WeaponModel[]>();

const ownedSpaceships = ref<Spaceship[]>();
const ownedCargos = ref<Cargo[]>();
const ownedEngines = ref<Engine[]>();
const ownedShields = ref<Shield[]>();
const ownedWeapons = ref<Weapon[]>();

const selectedSpaceshipModel = ref<SpaceshipModel>();

const isLoading = ref(false);
const error = ref<ResponseMessage>({ message: "", code: 0 });

onMounted(async () => {
	isLoading.value = true;
	try {
		const [
			getOwnedSpaceships,
			getOwnedShields,
			getOwnedWeapons,
			getOwnedCargos,
			getOwnedEngines,
			getCargoModels,
			getEngineModels,
			getSpaceshipModels,
			getShieldModels,
			getWeaponModels,
			getConfigurations,
		] = await Promise.all([
			spaceshipApi.getOwnedSpaceships(),
			shieldApi.getOwnedShields(),
			weaponApi.getOwnedWeapons(),
			cargoApi.getOwnedCargos(),
			engineApi.getOwnedEngines(),
			cargoModelApi.getOwnedCargoModels(),
			engineModelApi.getOwnedEngineModels(),
			spaceshipModelApi.getOwnedSpaceshipModels(),
			shieldModelApi.getOwnedShieldModels(),
			weaponModelApi.getOwnedWeaponModels(),
			configurationApi.getConfigurations(),
		]);
		member.value = memberStore.getMember;
		ownedSpaceships.value = getOwnedSpaceships;
		ownedShields.value = getOwnedShields;
		ownedWeapons.value = getOwnedWeapons;
		ownedCargos.value = getOwnedCargos;
		ownedEngines.value = getOwnedEngines;
		cargoModels.value = getCargoModels;
		engineModels.value = getEngineModels;
		spaceshipModels.value = getSpaceshipModels;
		shieldModels.value = getShieldModels;
		weaponModels.value = getWeaponModels;
		configurations.value = getConfigurations;

		if (routeParamId && configurations) {
			const editConfig = configurations.value.find((c) => c.spaceshipId === routeParamId);
			if (editConfig) {
				configurationLight.spaceshipId = editConfig.spaceshipId;
				selectedSpaceshipModel.value = spaceshipModels.value.find((s) => s.spaceshipModelId === editConfig.spaceshipModelId);

				if (selectedSpaceshipModel.value) {
					configurationLight.spaceshipModelId = selectedSpaceshipModel.value.spaceshipModelId;

					configurationLight.name = editConfig.name;
					configurationLight.weapons = selectedSpaceshipModel.value.moduleSlots
						.filter((s) => s.moduleType === ModuleType.WEAPON)
						.map((s) => ({
							weaponId: editConfig.weapons.find((w) => w.moduleSlotId === s.moduleSlotId)?.weaponId || null,
							moduleSlotId: s.moduleSlotId
						}));
					configurationLight.engine = {
						engineId: editConfig.engine.engineId,
						moduleSlotId: editConfig.engine.moduleSlotId
					};
					configurationLight.shield = {
						shieldId: editConfig.shield?.shieldId || null,
						moduleSlotId: selectedSpaceshipModel.value.moduleSlots.find((s) => s.moduleType === ModuleType.SHIELD)?.moduleSlotId || ""
					};
					configurationLight.cargo = {
						cargoId: editConfig.cargo?.cargoId || null,
						moduleSlotId: selectedSpaceshipModel.value.moduleSlots.find((s) => s.moduleType === ModuleType.CARGO)?.moduleSlotId || "",
					};
				}
			}
		}
	} catch (err: any) {
		error.value = err;
	}
	isLoading.value = false;
});

watch(() => configurationLight.spaceshipId, (newValue, oldValue) => {
	const spaceshipModelId = ownedSpaceships.value?.find((o) => o.spaceshipId === newValue)?.spaceshipModelId;
	if (spaceshipModelId) {
		selectedSpaceshipModel.value = spaceshipModels.value?.find((s) => s.spaceshipModelId === spaceshipModelId);
		if (selectedSpaceshipModel.value && !(routeParamId !== undefined && oldValue === "")) {
			configurationLight.spaceshipModelId = selectedSpaceshipModel.value.spaceshipModelId;
			configurationLight.cargo = {
				moduleSlotId: selectedSpaceshipModel.value.moduleSlots
					.find((s) => s.moduleType === ModuleType.CARGO)?.moduleSlotId || "",
				cargoId: null,
			};
			configurationLight.shield = {
				moduleSlotId: selectedSpaceshipModel.value.moduleSlots
					.find((s) => s.moduleType === ModuleType.SHIELD)?.moduleSlotId || "",
				shieldId: null,
			};
			configurationLight.engine = {
				moduleSlotId: selectedSpaceshipModel.value.moduleSlots
					.find((s) => s.moduleType === ModuleType.ENGINE)?.moduleSlotId || "",
				engineId: "",
			};
			configurationLight.weapons = selectedSpaceshipModel.value.moduleSlots
				.filter((s) => s.moduleType === ModuleType.WEAPON)
				.map((s) => ({ weaponId: null, moduleSlotId: s.moduleSlotId}));
		}
	}
}, { deep: true });

function isSpaceshipAlreadyUsed(spaceshipId: string): boolean {
	return !!configurations.value?.some((c) => c.spaceshipId === spaceshipId && c.spaceshipId !== routeParamId);
}

async function updateConfiguration(spaceshipId: string) {
	isLoading.value = true;
	try {
		await configurationApi.deleteConfiguration(spaceshipId);
		await configurationApi.createConfiguration(configurationLight);
		router.push({ path: "/garage" });
	} catch (err: any) {
		error.value = err;
	}
	isLoading.value = false;
}

async function createConfiguration() {
	isLoading.value = true;
	try {
		await configurationApi.createConfiguration(configurationLight);
		router.push({ path: "/garage" });
	} catch (err: any) {
		error.value = err;
	}
	isLoading.value = false;
}
</script>