<template>
	<section class="fit-content-large" v-if="isLoading">Loading...</section>
	<section class="fit-content-large" v-else-if="error.message">
			<p class="text-red-500 text-sm">{{ error.message }}</p>
	</section>
	<section class="fit-content-large" v-if="member">
		<h1 class="text-3xl font-bold mb-8">Garage</h1>
		<div class="mb-6">
			<router-link
				:to="{ name: 'garage-configuration-new' }"
				class="text-indigo-500 underline"
			>Create new ship</router-link>
		</div>
		<div>
			<h2 class="text-2xl mb-4">Your ships</h2>
			<p class="text-sm mb-2">Deleting your ship's configuration will make the modules that compose it available for a new configuration.</p>
			<form @submit.prevent="updateMainConfiguration">
				<ul class="grid grid-cols-[repeat(auto-fill,minmax(15%,300px))] gap-6">
					<li
						v-for="configuration in configurations"
						:key="configuration.spaceshipId"
						class="p-4 rounded-xl bg-light-400 flex flex-col justify-center"
						:class="{ 'border-2 border-indigo-500': configuration.isMainShip }"
					>
						<div class="mb-2 flex flex-row justify-between">
							<div>
								<h3>
									<strong>{{ configuration.name }}</strong>
								</h3>
							</div>
							<div>
								<button
									class="bg-red-500 hover:bg-red-300 disabled:bg-gray-400 disabled:cursor-not-allowed py-1 px-3 text-sm rounded-xl text-light-50"
									@click="deleteConfiguration(configuration.spaceshipId)"
								>Delete</button>
							</div>
						</div>
						<div class="mb-2">
							<router-link
								:to="{ name: 'garage-configuration-id', params: { spaceshipId: configuration.spaceshipId } }"
								class="text-indigo-500 underline"
							>Edit</router-link>
						</div>
						<div class="flex flex-row gap-2">
							<input
								type="radio"
								:id="configuration.spaceshipId"
								:value="configuration.spaceshipId"
								name="configuration"
								v-model="selectedConfiguration"
								:checked="configuration.isMainShip"
								required
							/>
							<label :for="configuration.spaceshipId" class="text-sm">Main ship</label>
						</div>
					</li>
				</ul>
				<div class="mt-6 flex flex-row justify-center">
					<button
						type="submit"
						class="bg-indigo-500 hover:bg-indigo-300 disabled:bg-gray-400 disabled:cursor-not-allowed py-2 px-6 rounded-xl text-light-50"
						:disabled="!selectedConfiguration"
					>Change main ship</button>
				</div>
			</form>
		</div>
	</section>
</template>

<script setup lang="ts">
import { ref, onMounted } from "vue";
import type { Member } from "@/models/member.models";
import type { ResponseMessage } from "@/models/api.models";
import configurationApi from "@/services/configuration.api";
import type { Configuration } from "@/models/configuration.models";
import { useMember } from "@/stores/member";

const memberStore = useMember();
const selectedConfiguration = ref<string>();
const member = ref<Member>();
const configurations = ref<Configuration[]>();
const isLoading = ref(false);
const error = ref<ResponseMessage>({ message: "", code: 0 });

onMounted(async () => {
	isLoading.value = true;
	try {
		configurations.value = await configurationApi.getConfigurations(),
		member.value = memberStore.getMember;
		selectedConfiguration.value = configurations.value.find((c) => c.isMainShip)?.spaceshipId;
	} catch (err: any) {
		error.value = err;
	}
	isLoading.value = false;
});

async function updateMainConfiguration(): Promise<void> {
	isLoading.value = true;
	try {
		if (selectedConfiguration.value) {
			await configurationApi.updateMainConfiguration(selectedConfiguration.value);
			configurations.value = await configurationApi.getConfigurations();
		}
	} catch (err: any) {
		error.value = err;
	}
	isLoading.value = false;
}

async function deleteConfiguration(spaceshipId: string): Promise<void> {
	isLoading.value = true;
	try {
		await configurationApi.deleteConfiguration(spaceshipId);
		if (spaceshipId === selectedConfiguration.value) {
			selectedConfiguration.value = "";
		}
		configurations.value = await configurationApi.getConfigurations();
	} catch (err: any) {
		error.value = err;
	}
	isLoading.value = false;
}
</script>
