<template>
	<section class="fit-content-large">
		<h1 class="text-3xl">Home</h1>
		<div class="mt-8">
			<h2 class="font-semibold text-xl">Login</h2>
			<router-link to="/login" class="text-indigo-500 underline mt-2">Login</router-link>
		</div>
		<div class="mt-4">
			<h2 class="font-semibold text-xl">Register</h2>
			<router-link to="/register" class="text-indigo-500 underline mt-2">Register</router-link>
		</div>
	</section>
</template>
