<template>
	<section class="fit-content">
		<h1 class="text-3xl">Login</h1>
        <form class="mt-8" @submit.prevent="loginIn">
            <div class="flex flex-col">
                <label for="email" class="italic text-md">Email</label>
                <input
                    v-model="login.email"
                    class="rounded-xl border-indigo-500 p-2 border-2"
                    type="email"
                    id="email"
                    placeholder="example@email.com"
                    autocomplete="email"
                    inputmode="email"
                    required
                />
            </div>
            <div class="mt-4 flex flex-col">
                <label for="password" class="italic text-md">Password</label>
                <input
                    v-model="login.password"
                    class="rounded-xl border-indigo-500 p-2 border-2"
                    type="password"
                    id="password"
                    placeholder="verysecretpassword"
                    autocomplete="current-password"
                    minlength="8"
					maxlength="32"
					pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
                    required
                />
            </div>
            <div class="mt-2 flex" v-if="error.message">
                <p class="text-red-500 text-sm">{{ error.message }}</p>
            </div>
            <div class="mt-6 flex">
                <button
                    :disabled="isDisabled"
                    type="submit"
                    class="bg-indigo-500 hover:bg-indigo-300 disabled:bg-gray-400 disabled:cursor-not-allowed py-2 px-6 rounded-xl text-light-50"
                >{{ isLoading ? 'Loading...' : 'Login' }}</button>
            </div>
        </form>
        <div class="mt-4">
            <p>Don't have an account? <router-link to="/register" class="underline text-indigo-500">Register</router-link></p>
        </div>
	</section>
</template>

<script setup lang="ts">
import { ref, reactive, computed } from "vue";
import { useRouter } from "vue-router";
import { Login } from "@/models/auth.models";
import type { ResponseMessage } from "@/models/api.models";
import authApi from "@/services/auth.api";
import { useAuth } from "@/stores/auth";
import memberApi from "@/services/member.api";
import { useMember } from "@/stores/member";
import { validateSync } from "class-validator";

const router = useRouter();
const authStore = useAuth();
const memberStore = useMember();

const login: Login = reactive(new Login());

const error = ref<ResponseMessage>({ message: "" });

const isLoading = ref(false);

const isDisabled = computed(() => {
    return isLoading.value || validateSync(login).length > 0;
});

async function loginIn(): Promise<void> {
    isLoading.value = true;
    try {
        const res = await authApi.login(login);
        localStorage.setItem("TOKEN", res.token);
        localStorage.setItem("EXPIRE_AT", res.expiration);
        const getMember = await memberApi.getMe();
        memberStore.member = getMember;
        authStore.isAuth = true;
        authStore.expireAt = res.expiration;
        router.push({ path: "/members/me" });
    } catch (err: any) {
        error.value.message = err.message;
    }
    isLoading.value = false;
}
</script>