<template>
	<div class="fit-content-large">
		<section v-if="isLoading">Loading...</section>
		<section v-else-if="error.message" class="fit-content-large">
			<p class="text-red-500 text-sm">{{ error.message }}</p>
		</section>
		<section v-if="member">
			<h1 class="text-3xl">{{ member.name }}</h1>
			<ul class="mt-2">
				<li>
					<p>
						<strong>Member Id:</strong> {{ member.memberId }}
					</p>
				</li>
				<li>
					<p>
						<strong>Email:</strong> {{ member.email }}
					</p>
				</li>
				<li>
					<p>
						<strong>Credits:</strong> {{ member.credits }}
					</p>
				</li>
			</ul>
			<div class="mt-2">
				<router-link to="/battle" class="text-indigo-500 underline">Begin battle</router-link>
			</div>
		</section>
	</div>
</template>

<script setup lang="ts">
import { ref, reactive } from "vue";
import type { Member } from "@/models/member.models";
import type { ResponseMessage } from "@/models/api.models";
import { useMember } from "@/stores/member";

const memberStore = useMember();

const member = reactive<Member>(memberStore.getMember);
const error = ref<ResponseMessage>({ message: "", code: 0 });
const isLoading = ref(false);
</script>
