<template>
	<section class="fit-content">
		<h1 class="text-3xl">Register</h1>
		<form class="mt-8" @submit.prevent="signUp">
			<div class="flex flex-col">
				<label for="name" class="italic">Name</label>
				<input
                    v-model="register.name"
					class="rounded-xl border-indigo-500 p-2 border-2"
					type="text"
					id="name"
					placeholder="User..."
                    autocomplete="off"
					minlength="3"
					maxlength="16"
					required
				/>
				<p class="mt-1 text-xs">
					Minimum 4 characters
				</p>
			</div>
			<div class="mt-4 flex flex-col">
				<label for="email" class="italic">Email</label>
				<input
                    v-model="register.email"
					class="rounded-xl border-indigo-500 p-2 border-2"
					type="email"
					id="email"
					placeholder="example@email.com..."
                    autocomplete="off"
					inputmode="email"
					required
				/>
			</div>
			<div class="mt-4 flex flex-col">
				<label for="password" class="italic">Password</label>
				<input
                    v-model="register.password"
					class="rounded-xl border-indigo-500 p-2 border-2"
					type="password"
					id="password"
					placeholder="verysecretpassword..."
                    autocomplete="off"
					minlength="8"
					maxlength="32"
					pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
					required
				/>
				<p class="mt-1 text-xs">
					Minimum 8 characters, at least one uppercase letter, one lowercase letter, one number and one special character
				</p>
			</div>
			<div class="mt-2" v-if="error.message">
                <p class="text-red-500 text-sm">{{ error.message }}</p>
            </div>
			<div class="mt-6">
				<button
					:disabled="isDisabled"
					type="submit"
					class="bg-indigo-500 hover:bg-indigo-300 disabled:bg-gray-400 disabled:cursor-not-allowed py-2 px-6 rounded-xl text-light-50"
				>{{ isLoading ? 'Loading...' : 'Register' }}</button>
			</div>
		</form>
		<div class="mt-4">
			<p>Already have an account? <router-link to="/login" class="underline text-indigo-500">Login</router-link></p>
		</div>
	</section>
</template>

<script setup lang="ts">
import { ref, reactive, computed } from "vue";
import { useRouter } from "vue-router";
import { Register } from "@/models/auth.models";
import type { ResponseMessage } from "@/models/api.models";
import authApi from "@/services/auth.api";
import { validateSync } from "class-validator";

const router = useRouter();

const register: Register = reactive(new Register());

const isDisabled = computed(() => {
    return isLoading.value || validateSync(register).length > 0;
});

const error = ref<ResponseMessage>({ message: "" });

const isLoading = ref(false);

async function signUp(): Promise<void> {
    isLoading.value = true;
    try {
        await authApi.register(register);
        router.push({ path: "/login" });
    } catch (err: any) {
        error.value.message = err.message;
    }
    isLoading.value = false;
}
</script>