<template>
	<section v-if="isLoading" class="fit-content-large">Loading...</section>
	<section v-else-if="error.message" class="fit-content-large">
		<p class="text-red-500 text-sm">{{ error.message }}</p>
	</section>
	<section v-if="member" class="fit-content-large">
		<h1 class="text-3xl font-bold mb-8">Shop</h1>
		<div class="mb-12 flex flex-col">
			<p class="text-lg">You have <span class="font-bold text-light-50 bg-violet-600 py-1 px-3 rounded-full">{{ member.credits.toLocaleString("fr") }}</span> credits</p>
		</div>
		<div>
			<div class="mb-10">
				<h2 class="text-xl mb-4">Spaceship model</h2>
				<ul class="flex flex-row gap-6">
					<li
						v-for="spaceshipModel in spaceshipModels"
						:key="spaceshipModel.spaceshipModelId"
						class="p-4 rounded-xl bg-light-400"
					>
						<h3>{{ spaceshipModel.name }}</h3>
						<p>
							<strong>{{ spaceshipModel.price.toLocaleString("fr") }}</strong> credit
						</p>
						<button v-if="isSpaceshipModelAlreadyOwned(spaceshipModel.spaceshipModelId)"
							class="disabled:bg-blue-700 disabled:cursor-not-allowed text-light-50 text-xs font-bold leading-6 px-2 rounded-full mt-2"
							disabled
						>Owned</button>
						<button v-else-if="member.credits < spaceshipModel.price"
							class="disabled:bg-gray-400 disabled:cursor-not-allowed text-light-50 text-xs font-bold leading-6 px-2 rounded-full mt-2"
							disabled
						>Not enought credits</button>
						<button v-else
							@click="buySpaceshipModel(spaceshipModel.spaceshipModelId)"
							class="bg-blue-500 hover:bg-blue-700 text-light-50 text-xs font-bold leading-6 px-2 rounded-full mt-2"
						>Buy</button>
					</li>
				</ul>
			</div>
			<div class="mb-10">
				<h2 class="text-xl mb-4">Cargo model</h2>
				<ul class="flex flex-row gap-6">
					<li v-for="cargoModel in cargoModels" :key="cargoModel.cargoModelId" class="p-4 bg-light-400 rounded-xl">
						<h3>{{ cargoModel.name }}</h3>
						<p>
							<strong>{{ cargoModel.price.toLocaleString("fr") }}</strong> credit
						</p>
						<button v-if="isCargoModelAlreadyOwned(cargoModel.cargoModelId)"
							class="disabled:bg-blue-700 disabled:cursor-not-allowed text-light-50 text-xs font-bold leading-6 px-2 rounded-full mt-2"
							disabled
						>Owned</button>
						<button v-else-if="member.credits < cargoModel.price"
							class="disabled:bg-gray-400 disabled:cursor-not-allowed text-light-50 text-xs font-bold leading-6 px-2 rounded-full mt-2"
							disabled
						>Not enought credits</button>
						<button v-else
							@click="buyCargoModel(cargoModel.cargoModelId)"
							class="bg-blue-500 hover:bg-blue-700 text-light-50 text-xs font-bold leading-6 px-2 rounded-full mt-2"
						>Buy</button>
					</li>
				</ul>
			</div>
			<div class="mb-10">
				<h2 class="text-xl mb-4">Shield model</h2>
				<ul class="flex flex-row gap-6">
					<li v-for="shieldModel in shieldModels" :key="shieldModel.shieldModelId" class="p-4 bg-light-400 rounded-xl">
						<h3>{{ shieldModel.name }}</h3>
						<p>
							<strong>{{ shieldModel.price.toLocaleString("fr") }}</strong> credit
						</p>
						<button v-if="isShieldModelAlreadyOwned(shieldModel.shieldModelId)"
							class="disabled:bg-blue-700 disabled:cursor-not-allowed text-light-50 text-xs font-bold leading-6 px-2 rounded-full mt-2"
							disabled
						>Owned</button>
						<button v-else-if="member.credits < shieldModel.price"
							class="disabled:bg-gray-400 disabled:cursor-not-allowed text-light-50 text-xs font-bold leading-6 px-2 rounded-full mt-2"
							disabled
						>Not enought credits</button>
						<button v-else
							@click="buyShieldModel(shieldModel.shieldModelId)"
							class="bg-blue-500 hover:bg-blue-700 text-light-50 text-xs font-bold leading-6 px-2 rounded-full mt-2"
						>Buy</button>
					</li>
				</ul>
			</div>
			<div class="mb-10">
				<h2 class="text-xl mb-4">Engine model</h2>
				<ul class="flex flex-row gap-6">
					<li v-for="engineModel in engineModels" :key="engineModel.engineModelId" class="p-4 bg-light-400 rounded-xl">
						<h3>{{ engineModel.name }}</h3>
						<p>
							<strong>{{ engineModel.price.toLocaleString("fr") }}</strong> credit
						</p>
						<button v-if="isEngineModelAlreadyOwned(engineModel.engineModelId)"
							class="disabled:bg-blue-700 disabled:cursor-not-allowed text-light-50 text-xs font-bold leading-6 px-2 rounded-full mt-2"
							disabled
						>Owned</button>
						<button v-else-if="member.credits < engineModel.price"
							class="disabled:bg-gray-400 disabled:cursor-not-allowed text-light-50 text-xs font-bold leading-6 px-2 rounded-full mt-2"
							disabled
						>Not enought credits</button>
						<button v-else
							@click="buyEngineModel(engineModel.engineModelId)"
							class="bg-blue-500 hover:bg-blue-700 text-light-50 text-xs font-bold leading-6 px-2 rounded-full mt-2"
						>Buy</button>
					</li>
				</ul>
			</div>
			<div>
				<h2 class="text-xl mb-4">Weapon model</h2>
				<ul class="flex flex-row gap-6">
					<li v-for="weaponModel in weaponModels" :key="weaponModel.weaponModelId" class="p-4 bg-light-400 rounded-xl">
						<h3>{{ weaponModel.name }}</h3>
						<p>
							<strong>{{ weaponModel.price.toLocaleString("fr") }}</strong> credit
						</p>
						<button v-if="isWeaponModelAlreadyOwned(weaponModel.weaponModelId)"
							class="disabled:bg-blue-700 disabled:cursor-not-allowed text-light-50 text-xs font-bold leading-6 px-2 rounded-full mt-2"
							disabled
						>Owned</button>
						<button v-else-if="member.credits < weaponModel.price"
							class="disabled:bg-gray-400 disabled:cursor-not-allowed text-light-50 text-xs font-bold leading-6 px-2 rounded-full mt-2"
							disabled
						>Not enought credits</button>
						<button v-else
							@click="buyWeaponModel(weaponModel.weaponModelId)"
							class="bg-blue-500 hover:bg-blue-700 text-light-50 text-xs font-bold leading-6 px-2 rounded-full mt-2"
						>Buy</button>
					</li>
				</ul>
			</div>
		</div>
	</section>
</template>

<script setup lang="ts">
import { ref, onMounted } from "vue";
import type { ResponseMessage } from "@/models/api.models";
import { useMember } from "@/stores/member";
import type { CargoModel } from "@/models/cargo/cargoModel.models";
import cargoModelApi from "@/services/cargo/cargoModel.api";
import weaponModelApi from "@/services/weapon/weaponModel.api";
import shieldModelApi from "@/services/shield/shieldModel.api";
import engineModelApi from "@/services/engine/engineModel.api";
import spaceshipModelApi from "@/services/spaceship/spaceshipModel.api";
import type { SpaceshipModel } from "@/models/spaceship/spaceshipModel.models";
import type { EngineModel } from "@/models/engine/engineModel.models";
import type { ShieldModel } from "@/models/shield/shieldModel.models";
import type { WeaponModel } from "@/models/weapon/weaponModel.models";
import spaceshipApi from "@/services/spaceship/spaceship.api";
import type { Spaceship } from "@/models/spaceship/spaceship.models";
import memberApi from "@/services/member.api";
import type { Member } from "@/models/member.models";
import type { Cargo } from "@/models/cargo/cargo.models";
import cargoApi from "@/services/cargo/cargo.api";
import engineApi from "@/services/engine/engine.api";
import shieldApi from "@/services/shield/shield.api";
import weaponApi from "@/services/weapon/weapon.api";
import type { Weapon } from "@/models/weapon/weapon.models";
import type { Shield } from "@/models/shield/shield.models";
import type { Engine } from "@/models/engine/engine.models";

const memberStore = useMember();

const isLoading = ref(false);

const member = ref<Member>();
const cargoModels = ref<CargoModel[]>();
const engineModels = ref<EngineModel[]>();
const spaceshipModels = ref<SpaceshipModel[]>();
const shieldModels = ref<ShieldModel[]>();
const weaponModels = ref<WeaponModel[]>();

const ownedSpaceships = ref<Spaceship[]>();
const ownedCargos = ref<Cargo[]>();
const ownedEngines = ref<Engine[]>();
const ownedShields = ref<Shield[]>();
const ownedWeapons = ref<Weapon[]>();

const error = ref<ResponseMessage>({ message: "", code: 0 });

onMounted(async () => {
	isLoading.value = true;
	try {
		const [
			getCargoModels,
			getEngineModels,
			getSpaceshipModels,
			getShieldModels,
			getWeaponModels,
			getOwnedSpaceships,
			getOwnedShields,
			getOwnedWeapons,
			getOwnedCargos,
			getOwnedEngines,
		] = await Promise.all([
			cargoModelApi.getCargoModels(),
			engineModelApi.getEngineModels(),
			spaceshipModelApi.getSpaceshipModels(),
			shieldModelApi.getShieldModels(),
			weaponModelApi.getWeaponModels(),
			spaceshipApi.getOwnedSpaceships(),
			shieldApi.getOwnedShields(),
			weaponApi.getOwnedWeapons(),
			cargoApi.getOwnedCargos(),
			engineApi.getOwnedEngines(),
		]);
		member.value = memberStore.getMember;
		cargoModels.value = getCargoModels;
		engineModels.value = getEngineModels;
		spaceshipModels.value = getSpaceshipModels;
		shieldModels.value = getShieldModels;
		weaponModels.value = getWeaponModels;
		ownedSpaceships.value = getOwnedSpaceships;
		ownedShields.value = getOwnedShields;
		ownedWeapons.value = getOwnedWeapons;
		ownedCargos.value = getOwnedCargos;
		ownedEngines.value = getOwnedEngines;
	} catch (err: any) {
		error.value = err;
	}
	isLoading.value = false;
});

const isSpaceshipModelAlreadyOwned = (spaceshipModelId: string) => ownedSpaceships.value?.some((e) => e.spaceshipModelId === spaceshipModelId);
const isCargoModelAlreadyOwned = (cargoModelId: string) => ownedCargos.value?.some((e) => e.cargoModelId === cargoModelId);
const isEngineModelAlreadyOwned = (engineModelId: string) => ownedEngines.value?.some((e) => e.engineModelId === engineModelId);
const isShieldModelAlreadyOwned = (shieldModelId: string) => ownedShields.value?.some((e) => e.shieldModelId === shieldModelId);
const isWeaponModelAlreadyOwned = (weaponModelId: string) => ownedWeapons.value?.some((e) => e.weaponModelId === weaponModelId);

async function buySpaceshipModel(spaceshipModelId: string): Promise<void> {
	isLoading.value = true;
	try {
		await spaceshipModelApi.buySpaceshipModel(spaceshipModelId);
		const [getMember, getOwnedSpaceships] = await Promise.all([
			memberApi.getMe(),
			spaceshipApi.getOwnedSpaceships(),
		]);
		member.value = getMember;
		memberStore.$patch({ member: getMember });
		ownedSpaceships.value = getOwnedSpaceships;
	} catch (err: any) {
		error.value = err;
	}
	isLoading.value = false;
}

async function buyCargoModel(cargoModelId: string): Promise<void> {
	isLoading.value = true;
	try {
		await cargoModelApi.buyCargoModel(cargoModelId);
		const [getMember, getOwnedCargos] = await Promise.all([
			memberApi.getMe(),
			cargoApi.getOwnedCargos(),
		]);
		memberStore.$patch({ member: getMember });
		ownedCargos.value = getOwnedCargos;
	} catch (err: any) {
		error.value = err;
	}
	isLoading.value = false;
}

async function buyEngineModel(engineModelId: string): Promise<void> {
	isLoading.value = true;
	try {
		await engineModelApi.buyEngineModel(engineModelId);
		const [getMember, getOwnedEngines] = await Promise.all([
			memberApi.getMe(),
			engineApi.getOwnedEngines(),
		]);
		memberStore.$patch({ member: getMember });
		ownedEngines.value = getOwnedEngines;
	} catch (err: any) {
		error.value = err;
	}
	isLoading.value = false;
}

async function buyWeaponModel(weaponModelId: string): Promise<void> {
	isLoading.value = true;
	try {
		await weaponModelApi.buyWeaponModel(weaponModelId);
		const [getMember, getOwnedWeapons] = await Promise.all([
			memberApi.getMe(),
			weaponApi.getOwnedWeapons(),
		]);
		memberStore.$patch({ member: getMember });
		ownedWeapons.value = getOwnedWeapons;
	} catch (err: any) {
		error.value = err;
	}
	isLoading.value = false;
}

async function buyShieldModel(shieldModelId: string): Promise<void> {
	isLoading.value = true;
	try {
		await shieldModelApi.buyShieldModel(shieldModelId);
		const [getMember, getOwnedShields] = await Promise.all([
			memberApi.getMe(),
			shieldApi.getOwnedShields(),
		]);
		memberStore.$patch({ member: getMember });
		ownedShields.value = getOwnedShields;
	} catch (err: any) {
		error.value = err;
	}
	isLoading.value = false;
}
</script>
