<template>
	<Teleport to="body">
		<!------------------------------------------- Modale Deletion ------------------------------------------->
        <Modale 
			:isOpen="isModaleDeleteOpen" 
			@click-outside="isModaleDeleteOpen = false"
		>
			<div class="text-center space-y-2">
				<div class="space-y-0.5">
					<p class="text-lg text-black dark:text-white font-semibold mb-2">
						Are you sure ?
					</p>
				</div>
				<div class="space-x-2">
					<button class="btn" @click="deleteCargoModel(id)">yes</button>
					<button class="btn" @click="isModaleDeleteOpen = false">no</button>
				</div>
			</div>
			<p></p>
		</Modale>
        <!------------------------------------------- Modale Edition ------------------------------------------->
        <Modale 
            :isOpen="isModaleOpen" 
            @click-outside="isModaleOpen = false"
        >
			<form @submit.prevent="edition ? updateCargoModel(id) : createCargoModel()">
				<div class="space-y-2">
					<div class="flex flex-col space-y-0.5">
						<h2 class="text-center text-xl">Cargo Edition</h2>
						<p>Name</p>
						<input
							v-model="selected.name"
							class="rounded-xl border-black-500 p-2 border-1"
							type="text"
							id="name"
							placeholder="Name.."
							minlength="4"
							required
						/>
						<p>Type</p>
						<select v-model="selected.cargoType">
							<option v-for="dataCargo in CargoType" :key="dataCargo.valueOf">
								{{ dataCargo }}
							</option>
						</select>
						<p>Max Health</p>
						<input
							v-model="selected.maxHealth"
							class="rounded-xl border-black-500 p-2 border-1"
							type="number"
							id="number"
							placeholder="Max Health.."
							min="0"
							required
						/>
						<p>Capacity</p>
						<input
							v-model="selected.capacity"
							class="rounded-xl border-black-500 p-2 border-1"
							type="number"
							id="number"
							placeholder="Capacity.."
							min="0"
							required
						/>
						<p>Size</p>
						<input
							v-model="selected.size"
							class="rounded-xl border-black-500 p-2 border-1"
							type="number"
							id="number"
							placeholder="Size.."
							min="0"
							max="4"
							required
						/>
						<p>Price</p>
						<input
							v-model="selected.price"
							class="rounded-xl border-black-500 p-2 border-1"
							type="number"
							id="number"
							placeholder="Price.."
							min="0"
							required
						/>
					</div>
					<button v-if="edition" class="btn">
						Save modification
					</button>
					<button v-else class="btn">Create</button>
				</div>
			</form>
		</Modale>
    </Teleport>
    <section>
        <h2 class="text-2xl">Cargo Model</h2>
		<div class="table">
			<div class="table-header-group">
				<div class="table-row font-bold">
					<div class="table-cell">Name</div>
					<div class="table-cell">Type</div>
					<div class="table-cell">Max Health</div>
					<div class="table-cell">Capacity</div>
					<div class="table-cell">Size</div>
					<div class="table-cell">Price</div>
					<div class="table-cell empty-cells-visible"></div>
				</div>
			</div>
			<div class="table-row-group">
				<div
					v-for="cargoModel in model"
					:key="cargoModel.cargoModelId"
					class="table-row h-12 align-middle"
				>
					<div class="table-cell">{{ cargoModel.name }}</div>
					<div class="table-cell">{{ cargoModel.cargoType }}</div>
					<div class="table-cell">{{ cargoModel.maxHealth }}</div>
					<div class="table-cell">{{ cargoModel.capacity }}</div>
					<div class="table-cell">{{ cargoModel.size }}</div>
					<div class="table-cell">{{ cargoModel.price }}</div>
					<div class="table-cell space-x-3">
						<button
							class="bg-blue-500 hover:bg-blue-700 text-light-50 text-xs font-bold leading-6 px-2 rounded-full mt-2"
							@click="editModel(cargoModel.cargoModelId)"
						>
							Edit
						</button>
						<button
							class="bg-red-500 hover:bg-blue-700 text-light-50 text-xs font-bold leading-6 px-2 rounded-full mt-2"
							@click="deleteModel(cargoModel.cargoModelId)"
						>
							Delete
						</button>
					</div>
				</div>
			</div>
		</div>
		<button
			class="bg-blue-500 hover:bg-blue-700 text-light-50 text-xs font-bold leading-6 px-2 rounded-full mt-2"
			@click="createModel()"
		>
			New Cargo
		</button>
    </section>
</template>

<script setup lang="ts">
import { ref, onMounted, reactive } from "vue";
import Modale from "@/components/Modale.vue";
import type { ResponseMessage } from "@/models/api.interfaces"; 

import { CargoType } from "@/models/cargo/cargoModel.interface";
import type { CargoModel, UpdateCargoModel } from "@/models/cargo/cargoModel.interface";
import cargoModelApi from "@/services/cargo/cargoModel.api";
    
const loading = ref(false);
    
const isModaleDeleteOpen = ref(false);
const isModaleOpen = ref(false);
const model = ref<CargoModel[]>();
    
const error = ref<ResponseMessage>({ message: "", code: 0 });

const selected = reactive<UpdateCargoModel>({
	name: "",
	cargoType: CargoType.Basic,
	maxHealth: 0,
	capacity: 0,
	size: 0,
	price: 0,
});

const id = ref<string>("");

const edition = ref(false);

onMounted(async () => {
	loading.value = true;
	try {
		const [
			getCargoModels,
		] = await Promise.all([
			cargoModelApi.getCargoModels(),
		]);
		model.value = getCargoModels;
	} catch (err: any) {
		error.value = err;
	}
	loading.value = false;
});

function deleteModel(moduleId: string) {
	isModaleDeleteOpen.value = true;
	id.value = moduleId;
}

function editModel(moduleId: string): void {
	id.value = moduleId;
	const editCargo = model.value?.find((c) => moduleId === c.cargoModelId);
	if (editCargo) {
		selected.name = editCargo.name;
		selected.cargoType = editCargo.cargoType;
		selected.maxHealth = editCargo.maxHealth;
		selected.capacity = editCargo.capacity;
		selected.size = editCargo.size;
		selected.price = editCargo.price;
	}
	isModaleOpen.value = true;
	edition.value = true;
}

function createModel() {
	isModaleOpen.value = true;

	selected.name = "";
	selected.cargoType = CargoType.Basic;
	selected.maxHealth = 0;
	selected.capacity = 0;
	selected.size = 0;
	selected.price = 0;
}

async function updateCargoModel(cargoModelId: string) {
	isModaleOpen.value = false;
	loading.value = true;
	edition.value = false;
	try {
		await cargoModelApi.updateCargoModel(cargoModelId, selected);
		const getCargoModels = await cargoModelApi.getCargoModels();
		model.value = getCargoModels;
	} catch (err: any) {
		error.value = err;
	}
	loading.value = false;
}

async function createCargoModel() {
	isModaleOpen.value = false;
	loading.value = true;
	try {
		await cargoModelApi.createCargoModel(selected);
		const getCargoModels = await cargoModelApi.getCargoModels();
		model.value = getCargoModels;
	} catch (err: any) {
		error.value = err;
	}
	loading.value = false;
}

async function deleteCargoModel(cargoModelId: string) {
	isModaleDeleteOpen.value = false;
	loading.value = true;
	try {
		await cargoModelApi.deleteCargoModel(cargoModelId);
		const getCargoModels = await cargoModelApi.getCargoModels();
		model.value = getCargoModels;
	} catch (err: any) {
		error.value = err;
	}
	loading.value = false;
}
</script>

<style lang="scss" scoped>
    section {
        width: 90%;
        max-width: 1300px;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
    }
    .table {
        display: table;
        border-collapse: collapse;
    
        .table-cell {
            border: 2px solid;
            border-color: black;
            text-align: center;
        }
    }
    .btn {
        @apply px-4 py-1 text-sm text-purple-600 font-semibold
        rounded-full border border-black-200 dark:border-purple-800
        hover:text-white hover:bg-purple-600 hover:border-transparent
        focus:outline-none focus:ring-2 ring-purple-600 ring-opacity-40;
    }
    </style>