<template>
	<Teleport to="body">
		<!------------------------------------------- Modale Deletion ------------------------------------------->
        <Modale
			:isOpen="isModaleDeleteOpen"
			@click-outside="isModaleDeleteOpen = false"
		>
			<div class="text-center space-y-2">
				<div class="space-y-0.5">
					<p class="text-lg text-black dark:text-white font-semibold mb-2">
						Are you sure ?
					</p>
				</div>
				<div class="space-x-2">
					<button class="btn" @click="deleteWeaponModel(id)">yes</button>
					<button class="btn" @click="isModaleDeleteOpen = false">no</button>
				</div>
			</div>
			<p></p>
		</Modale>
        <!------------------------------------------- Modale Edition ------------------------------------------->
        <Modale 
            :isOpen="isModaleOpen" 
            @click-outside="isModaleOpen = false"
        >
			<form @submit.prevent="edition ? updateWeaponModel(id) : createWeaponModel()">
				<div class="space-y-2">
					<div class="flex flex-row space-y-0.5">
						<div class="flex flex-col space-y-0.5">
							<h2 class="text-center text-xl">Weapon Edition</h2>
							<p>Name</p>
							<input
								v-model="selected.name"
								class="rounded-xl border-black-500 p-2 border-1"
								type="text"
								id="name"
								placeholder="Name.."
								minlength="4"
								required
							/>
							<p>Type</p>
							<select v-model="selected.weaponType">
								<option v-for="dataWeapon in WeaponType" :key="dataWeapon.valueOf">
									{{ dataWeapon }}
								</option>
							</select>
							<p>Damage Type</p>
							<select v-model="selected.damageType">
								<option
									v-for="dataWeaponDamage in DamageType"
									:key="dataWeaponDamage.valueOf"
								>
									{{ dataWeaponDamage }}
								</option>
							</select>
							<p>Ammo Type</p>
							<select v-model="selected.ammoType">
								<option
									v-for="dataWeaponAmmo in AmmoType"
									:key="dataWeaponAmmo.valueOf"
								>
									{{ dataWeaponAmmo }}
								</option>
							</select>
							<p>Max Health</p>
							<input
								v-model="selected.maxHealth"
								class="rounded-xl border-black-500 p-2 border-1"
								type="number"
								id="number"
								placeholder="Max Health.."
								min="0"
								required
							/>
							<p>Max Ammo</p>
							<input
								v-model="selected.maxAmmo"
								class="rounded-xl border-black-500 p-2 border-1"
								type="number"
								id="number"
								min="0"
								required
							/>
							<p>Max Power</p>
							<input
								v-model="selected.maxPower"
								class="rounded-xl border-black-500 p-2 border-1"
								type="number"
								id="number"
								placeholder="Max Power.."
								min="0"
								required
							/>
							<p>Damage</p>
							<input
								v-model="selected.damage"
								class="rounded-xl border-black-500 p-2 border-1"
								type="number"
								id="number"
								placeholder="Damage.."
								min="0"
								required
							/>
						</div>
						<div class="flex flex-col space-y-0.5">
							<p>Realod Time</p>
							<input
								v-model="selected.reloadTime"
								class="rounded-xl border-black-500 p-2 border-1"
								type="number"
								id="number"
								placeholder="Reload Time.."
								min="0"
								required
							/>
							<p>Travel Time by Distance</p>
							<input
								v-model="selected.travelTimeByDistance"
								class="rounded-xl border-black-500 p-2 border-1"
								type="number"
								id="number"
								placeholder="Travel Time by Distance.."
								min="0"
								required
							/>
							<p>Min Shooting Distance</p>
							<input
								v-model="selected.minShootingDistance"
								class="rounded-xl border-black-500 p-2 border-1"
								type="number"
								id="number"
								placeholder="Min Shooting Distance.."
								min="0"
								required
							/>
							<p>Max Shooting Distance</p>
							<input
								v-model="selected.maxShootingDistance"
								class="rounded-xl border-black-500 p-2 border-1"
								type="number"
								id="number"
								placeholder="Max Shooting Distance.."
								min="0"
								required
							/>
							<p>Size</p>
							<input
								v-model="selected.size"
								class="rounded-xl border-black-500 p-2 border-1"
								type="number"
								id="number"
								placeholder="Size.."
								min="0"
								max="4"
								required
							/>
							<p>Price</p>
							<input
								v-model="selected.price"
								class="rounded-xl border-black-500 p-2 border-1"
								type="number"
								id="number"
								placeholder="Price.."
								min="0"
								required
							/>
						</div>
					</div>
					<button v-if="edition" class="btn" type="submit">
						Save modification
					</button>
					<button v-else class="btn" type="submit">Create</button>
				</div>
			</form>
		</Modale>
    </Teleport>
    <section>
        <h2 class="text-2xl">Weapon Model</h2>
		<div class="table">
			<div class="table-header-group">
				<div class="table-row font-bold">
					<div class="table-cell">Name</div>
					<div class="table-cell">Type</div>
					<div class="table-cell">Damage Type</div>
					<div class="table-cell">Ammo Type</div>
					<div class="table-cell">Max Health</div>
					<div class="table-cell">Max Ammo</div>
					<div class="table-cell">Max Power</div>
					<div class="table-cell">Dmg</div>
					<div class="table-cell">Realod Time</div>
					<div class="table-cell">Accuracy</div>
					<div class="table-cell">Min</div>
					<div class="table-cell">Max</div>
					<div class="table-cell">Size</div>
					<div class="table-cell">Price</div>
					<div class="table-cell empty-cells-visible"></div>
				</div>
			</div>
			<div class="table-row-group">
				<div
					v-for="weaponModel in model"
					:key="weaponModel.weaponModelId"
					class="table-row h-12 align-middle"
				>
					<div class="table-cell">{{ weaponModel.name }}</div>
					<div class="table-cell">{{ weaponModel.weaponType }}</div>
					<div class="table-cell">{{ weaponModel.damageType }}</div>
					<div class="table-cell">{{ weaponModel.ammoType }}</div>
					<div class="table-cell">{{ weaponModel.maxHealth }}</div>
					<div class="table-cell">{{ weaponModel.maxAmmo }}</div>
					<div class="table-cell">{{ weaponModel.maxPower }}</div>
					<div class="table-cell">{{ weaponModel.damage }}</div>
					<div class="table-cell">{{ weaponModel.reloadTime }}</div>
					<div class="table-cell">{{ weaponModel.travelTimeByDistance }}</div>
					<div class="table-cell">{{ weaponModel.minShootingDistance }}</div>
					<div class="table-cell">{{ weaponModel.maxShootingDistance }}</div>
					<div class="table-cell">{{ weaponModel.size }}</div>
					<div class="table-cell">{{ weaponModel.price }}</div>
					<div class="table-cell space-x-3">
						<button
							class="bg-blue-500 hover:bg-blue-700 text-light-50 text-xs font-bold leading-6 px-2 rounded-full mt-2"
							@click="editModel(weaponModel.weaponModelId)"
						>
							Edit
						</button>
						<button
							class="bg-red-500 hover:bg-blue-700 text-light-50 text-xs font-bold leading-6 px-2 rounded-full mt-2"
							@click="deleteModel(weaponModel.weaponModelId)"
						>
							Delete
						</button>
					</div>
				</div>
			</div>
		</div>
		<button
			class="bg-blue-500 hover:bg-blue-700 text-light-50 text-xs font-bold leading-6 px-2 rounded-full mt-2"
			@click="createModel()"
		>
			New Weapon
		</button>
    </section>
</template>

<script setup lang="ts">
import { ref, onMounted, reactive } from "vue";
import Modale from "@/components/Modale.vue";
import type { ResponseMessage } from "@/models/api.interfaces";
    
import { WeaponType, DamageType, AmmoType } from "@/models/weapon/weaponModel.interface";
import type { WeaponModel, UpdateWeaponModel } from "@/models/weapon/weaponModel.interface";
import weaponModelApi from "@/services/weapon/weaponModel.api";

const loading = ref(false);
    
const isModaleDeleteOpen = ref(false);
const isModaleOpen = ref(false);
const model = ref<WeaponModel[]>();
    
const error = ref<ResponseMessage>({ message: "", code: 0 });

const selected = reactive<UpdateWeaponModel>({
	name: "",
	weaponType: WeaponType.Missile,
	damageType: DamageType.Electric,
	ammoType: AmmoType.HeavyAmmo,
	maxHealth: 0,
	maxAmmo: 0,
	maxPower: 0,
	damage: 0,
	reloadTime: 0,
	travelTimeByDistance: 0,
	minShootingDistance: 0,
	maxShootingDistance: 0,
	size: 0,
	price: 0,
});

const id = ref<string>("");

const edition = ref(false);

async function test(): Promise<void> {

}

onMounted(async () => {
	loading.value = true;
	try {
		const [
			getWeaponModels,
		] = await Promise.all([
			weaponModelApi.getWeaponModels(),
		]);
		model.value = getWeaponModels;
	} catch (err: any) {
		error.value = err;
	}
	loading.value = false;
});

function deleteModel(moduleId: string) {
	isModaleDeleteOpen.value = true;
	id.value = moduleId;
}

function editModel(moduleId: string): void {
	id.value = moduleId;
	const editweapon = model.value!.find((w) => moduleId === w.weaponModelId);
	if (editweapon) {
		selected.name = editweapon.name;
		selected.weaponType = editweapon.weaponType;
		selected.ammoType = editweapon.ammoType;
		selected.damageType = editweapon.damageType;
		selected.maxHealth = editweapon.maxHealth;
		selected.maxAmmo = editweapon.maxAmmo;
		selected.maxPower = editweapon.maxPower;
		selected.damage = editweapon.damage;
		selected.reloadTime = editweapon.reloadTime;
		selected.travelTimeByDistance = editweapon.travelTimeByDistance;
		selected.minShootingDistance = editweapon.minShootingDistance;
		selected.maxShootingDistance = editweapon.maxShootingDistance;
		selected.size = editweapon.size;
		selected.price = editweapon.price;
	}
	isModaleOpen.value = true;
	edition.value = true;
}

function createModel() {
	isModaleOpen.value = true;

	selected.name = "";
	selected.weaponType = WeaponType.Gatling;
	selected.ammoType = AmmoType.ElectricBulk;
	selected.damageType = DamageType.Electric;
	selected.maxHealth = 0;
	selected.maxAmmo = 0;
	selected.maxPower = 0;
	selected.damage = 0;
	selected.reloadTime = 0;
	selected.travelTimeByDistance = 0;
	selected.minShootingDistance = 0;
	selected.maxShootingDistance = 0;
	selected.size = 0;
	selected.price = 0;
}

async function updateWeaponModel(weaponModelId: string) {
	isModaleOpen.value = false;
	loading.value = true;
	edition.value = false;
	try {
		await weaponModelApi.updateWeaponModel(weaponModelId, selected);
		const getWeaponModels = await weaponModelApi.getWeaponModels();
		model.value = getWeaponModels;
	} catch (err: any) {
		error.value = err;
	}
	loading.value = false;
}

async function createWeaponModel() {
	isModaleOpen.value = false;
	loading.value = true;
	try {
		await weaponModelApi.createWeaponModel(selected);
		const getWeaponModels = await weaponModelApi.getWeaponModels();
		model.value = getWeaponModels;
	} catch (err: any) {
		error.value = err;
	}
	loading.value = false;
}

async function deleteWeaponModel(weaponModelId: string) {
	isModaleDeleteOpen.value = false;
	loading.value = true;
	try {
		await weaponModelApi.deleteWeaponModel(weaponModelId);
		const getWeaponModels = await weaponModelApi.getWeaponModels();
		model.value = getWeaponModels;
	} catch (err: any) {
		error.value = err;
	}
	loading.value = false;
}
</script>

<style lang="scss" scoped>
    section {
        width: 90%;
        max-width: 1300px;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
    }
    .table {
        display: table;
        border-collapse: collapse;
    
        .table-cell {
            border: 2px solid;
            border-color: black;
            text-align: center;
        }
    }
    .btn {
        @apply px-4 py-1 text-sm text-purple-600 font-semibold
        rounded-full border border-black-200 dark:border-purple-800
        hover:text-white hover:bg-purple-600 hover:border-transparent
        focus:outline-none focus:ring-2 ring-purple-600 ring-opacity-40;
    }
    </style>