<template>
	<Teleport to="body">
		<!------------------------------------------- Modale Deletion ------------------------------------------->
        <Modale
			:isOpen="isModaleDeleteOpen"
			@click-outside="isModaleDeleteOpen = false"
		>
			<div class="text-center space-y-2">
				<div class="space-y-0.5">
					<p class="text-lg text-black dark:text-white font-semibold mb-2">
						Are you sure ?
					</p>
				</div>
				<div class="space-x-2">
					<button class="btn" @click="deleteShieldModel(id)">yes</button>
					<button class="btn" @click="isModaleDeleteOpen = false">no</button>
				</div>
			</div>
			<p></p>
		</Modale>
        <!------------------------------------------- Modale Edition ------------------------------------------->
        <Modale 
            :isOpen="isModaleOpen" 
            @click-outside="isModaleOpen = false"
        >
			<form @submit.prevent="edition ? updateShieldModel(id) : createShieldModel()">
				<div class="space-y-2">
					<div class="flex flex-col space-y-0.5">
						<h2 class="text-center text-xl">Shield Edition</h2>
						<p>Name</p>
						<input
							v-model="selected.name"
							class="rounded-xl border-black-500 p-2 border-1"
							type="text"
							id="name"
							placeholder="Name.."
							minlength="4"
							required
						/>
						<p>Type</p>
						<select v-model="selected.shieldType">
							<option v-for="dataShield in ShieldType" :key="dataShield.valueOf">
								{{ dataShield }}
							</option>
						</select>
						<p>Type Protection</p>
						<input
							v-model="selected.shieldTypeProtection"
							class="rounded-xl border-black-500 p-2 border-1"
							type="number"
							id="number"
							placeholder="Type Protection.."
							min="0"
							required
						/>
						<p>Max Health</p>
						<input
							v-model="selected.maxHealth"
							class="rounded-xl border-black-500 p-2 border-1"
							type="number"
							id="number"
							placeholder="Max Health.."
							min="0"
							required
						/>
						<p>Max Power</p>
						<input
							v-model="selected.maxPower"
							class="rounded-xl border-black-500 p-2 border-1"
							type="number"
							id="number"
							placeholder="Max Power.."
							min="0"
							required
						/>
						<p>Reload Time</p>
						<input
							v-model="selected.reloadTime"
							class="rounded-xl border-black-500 p-2 border-1"
							type="number"
							id="number"
							placeholder="Reload Time.."
							min="0"
							required
						/>
						<p>Size</p>
						<input
							v-model="selected.size"
							class="rounded-xl border-black-500 p-2 border-1"
							type="number"
							id="number"
							placeholder="Size.."
							min="0"
							max="4"
							required
						/>
						<p>Price</p>
						<input
							v-model="selected.price"
							class="rounded-xl border-black-500 p-2 border-1"
							type="number"
							id="number"
							placeholder="Price.."
							min="0"
							required
						/>
					</div>
					<button v-if="edition" class="btn">
						Save modification
					</button>
					<button v-else class="btn">Create</button>
				</div>
			</form>
		</Modale>
    </Teleport>
    <section>
        <h2 class="text-2xl">Shield Model</h2>
		<div class="table">
			<div class="table-header-group">
				<div class="table-row font-bold">
					<div class="table-cell">Name</div>
					<div class="table-cell">Type</div>
					<div class="table-cell">Protection Type</div>
					<div class="table-cell">Max Health</div>
					<div class="table-cell">Realod Time</div>
					<div class="table-cell">Max Power</div>
					<div class="table-cell">Size</div>
					<div class="table-cell">Price</div>
					<div class="table-cell empty-cells-visible"></div>
				</div>
			</div>
			<div class="table-row-group">
				<div
					v-for="shieldModel in model"
					:key="shieldModel.shieldModelId"
					class="table-row h-12 align-middle"
				>
					<div class="table-cell">{{ shieldModel.name }}</div>
					<div class="table-cell">{{ shieldModel.shieldType }}</div>
					<div class="table-cell">{{ shieldModel.shieldTypeProtection }}</div>
					<div class="table-cell">{{ shieldModel.maxHealth }}</div>
					<div class="table-cell">{{ shieldModel.maxPower }}</div>
					<div class="table-cell">{{ shieldModel.reloadTime }}</div>
					<div class="table-cell">{{ shieldModel.size }}</div>
					<div class="table-cell">{{ shieldModel.price }}</div>
					<div class="table-cell space-x-3">
						<button
							class="bg-blue-500 hover:bg-blue-700 text-light-50 text-xs font-bold leading-6 px-2 rounded-full mt-2"
							@click="editModel(shieldModel.shieldModelId)"
						>
							Edit
						</button>
						<button
							class="bg-red-500 hover:bg-blue-700 text-light-50 text-xs font-bold leading-6 px-2 rounded-full mt-2"
							@click="deleteModel(shieldModel.shieldModelId)"
						>
							Delete
						</button>
					</div>
				</div>
			</div>
		</div>
		<button
			class="bg-blue-500 hover:bg-blue-700 text-light-50 text-xs font-bold leading-6 px-2 rounded-full mt-2"
			@click="createModel()"
		>
			New Shield
		</button>
    </section>
</template>

<script setup lang="ts">
import { ref, onMounted, reactive } from "vue";
import Modale from "@/components/Modale.vue";
import type { ResponseMessage } from "@/models/api.interfaces";

import { ShieldType } from "@/models/shield/shieldModel.interface";
import type { ShieldModel, UpdateShieldModel } from "@/models/shield/shieldModel.interface";
import shieldModelApi from "@/services/shield/shieldModel.api";
    
const loading = ref(false);
    
const isModaleDeleteOpen = ref(false);
const isModaleOpen = ref(false);
const model = ref<ShieldModel[]>();
    
const error = ref<ResponseMessage>({ message: "", code: 0 });

const selected = reactive<UpdateShieldModel>({
	name: "",
	shieldType: ShieldType.Basic,
	shieldTypeProtection: 0,
	maxHealth: 0,
	reloadTime: 0,
	maxPower: 0,
	size: 0,
	price: 0,
});

const id = ref<string>("");

const edition = ref(false);

onMounted(async () => {
	loading.value = true;
	try {
		const [
			getShieldModels,
		] = await Promise.all([
			shieldModelApi.getShieldModels(),
		]);
		model.value = getShieldModels;
	} catch (err: any) {
		error.value = err;
	}
	loading.value = false;
});

function deleteModel(moduleId: string) {
	isModaleDeleteOpen.value = true;
	id.value = moduleId;
}

function editModel(moduleId: string): void {
	id.value = moduleId;
	const editShield = model.value?.find((s) => moduleId === s.shieldModelId);
	if (editShield) {
		selected.name = editShield.name;
		selected.shieldType = editShield.shieldType;
		selected.shieldTypeProtection = editShield.shieldTypeProtection;
		selected.maxHealth = editShield.maxHealth;
		selected.maxPower = editShield.maxPower;
		selected.reloadTime = editShield.reloadTime;
		selected.size = editShield.size;
		selected.price = editShield.price;
	}
	isModaleOpen.value = true;
	edition.value = true;
}

function createModel() {
	isModaleOpen.value = true;

	selected.name = "";
	selected.shieldType = ShieldType.Basic;
	selected.shieldTypeProtection = 0;
	selected.maxHealth = 0;
	selected.reloadTime = 0;
	selected.maxPower = 0;
	selected.size = 0;
	selected.price = 0;
}

async function updateShieldModel(shieldModelId: string) {
	isModaleOpen.value = false;
	loading.value = true;
	edition.value = false;
	try {
		await shieldModelApi.updateShieldModel(shieldModelId, selected);
		const getShieldModels = await shieldModelApi.getShieldModels();
		model.value = getShieldModels;
	} catch (err: any) {
		error.value = err;
	}
	loading.value = false;
}

async function createShieldModel() {
	isModaleOpen.value = false;
	loading.value = true;
	try {
		await shieldModelApi.createShieldModel(selected);
		const getShieldModels = await shieldModelApi.getShieldModels();
		model.value = getShieldModels;
	} catch (err: any) {
		error.value = err;
	}
	loading.value = false;
}

async function deleteShieldModel(shieldModelId: string) {
	isModaleDeleteOpen.value = false;
	loading.value = true;
	try {
		await shieldModelApi.deleteShieldModel(shieldModelId);
		const getShieldModels = await shieldModelApi.getShieldModels();
		model.value = getShieldModels;
	} catch (err: any) {
		error.value = err;
	}
	loading.value = false;
}
</script>

<style lang="scss" scoped>
    section {
        width: 90%;
        max-width: 1300px;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
    }
    .table {
        display: table;
        border-collapse: collapse;
    
        .table-cell {
            border: 2px solid;
            border-color: black;
            text-align: center;
        }
    }
    .btn {
        @apply px-4 py-1 text-sm text-purple-600 font-semibold
        rounded-full border border-black-200 dark:border-purple-800
        hover:text-white hover:bg-purple-600 hover:border-transparent
        focus:outline-none focus:ring-2 ring-purple-600 ring-opacity-40;
    }
    </style>