<template>
	<Teleport to="body">
		<!------------------------------------------- Modale Deletion ------------------------------------------->
		<Modale
			:isOpen="isModaleDeleteOpen"
			@click-outside="isModaleDeleteOpen = false"
		>
			<div class="text-center space-y-2">
				<div class="space-y-0.5">
					<p class="text-lg text-black dark:text-white font-semibold mb-2">
						Are you sure ?
					</p>
				</div>
				<div class="space-x-2">
					<button class="btn" @click="deleteSpaceshipModel(id)">yes</button>
					<button class="btn" @click="isModaleDeleteOpen = false">no</button>
				</div>
			</div>
			<p></p>
		</Modale>
        <!------------------------------------------- Modale Edition ------------------------------------------->
		<Modale :isOpen="isModaleOpen" @click-outside="isModaleOpen = false">
			<form @submit.prevent=" edition ? updateSpaceshipModel(id) : createSpaceshipModel()">
				<div class="space-y-2">
					<div class="flex flex-col space-y-0.5">
						<h2 class="text-center text-xl">Spaceship Edition</h2>
						<p>Name</p>
						<input
							v-model="selected.name"
							class="rounded-xl border-black-500 p-2 border-1"
							type="text"
							id="name"
							placeholder="Name.."
							minlength="4"
							required
						/>
						<p>Type</p>
						<select v-model="selected.spaceshipType">
							<option v-for="dataShip in SpaceshipType" :key="dataShip.valueOf">
								{{ dataShip }}
							</option>
						</select>

						<p>Max Health</p>
						<input
							v-model="selected.maxHealth"
							class="rounded-xl border-black-500 p-2 border-1"
							type="number"
							id="maxHeal"
							placeholder="Max Health.."
							min="0"
							required
						/>
						<p>Max Power</p>
						<input
							v-model="selected.maxPower"
							class="rounded-xl border-black-500 p-2 border-1"
							type="number"
							id="number"
							placeholder="Max Power.."
							min="0"
							required
						/>
						<p>Tank Capacity</p>
						<input
							v-model="selected.tankCapacity"
							class="rounded-xl border-black-500 p-2 border-1"
							type="number"
							id="number"
							placeholder="Tank Capacity.."
							min="0"
							required
						/>
						<p>Consumption for Power</p>
						<input
							v-model="selected.consumptionForPower"
							class="rounded-xl border-black-500 p-2 border-1"
							type="number"
							id="number"
							placeholder="Consumption for Power.."
							min="0"
							required
						/>
						<p>Energy Repartition Delay</p>
						<input
							v-model="selected.energyRepartitionDelay"
							class="rounded-xl border-black-500 p-2 border-1"
							type="number"
							id="number"
							placeholder="Energy Repartion Delay.."
							min="0"
							required
						/>
						<p>Price</p>
						<input
							v-model="selected.price"
							class="rounded-xl border-black-500 p-2 border-1"
							type="number"
							id="number"
							placeholder="Price.."
							min="0"
							required
						/>
					</div>
					<button v-if="edition" class="btn">
						Save modification
					</button>
					<button v-else class="btn">Create</button>
				</div>
			</form>
		</Modale>
    </Teleport>
    <section>
		<h1 class="text-center text-3xl">Module List</h1>
		<h2 class="text-2xl">Spaceship Model</h2>
		<div class="table">
			<div class="table-header-group">
				<div class="table-row font-bold">
					<div class="table-cell">Name</div>
					<div class="table-cell">Type</div>
					<div class="table-cell">Max Health</div>
					<div class="table-cell">Tank Capacity</div>
					<div class="table-cell">Max Power</div>
					<div class="table-cell">Consumption For Power</div>
					<div class="table-cell">Energy Repartition Delay</div>
					<div class="table-cell">Price</div>
					<div class="table-cell empty-cells-visible"></div>
				</div>
			</div>
			<div class="table-row-group">
				<div
					v-for="spaceshipModel in model"
					:key="spaceshipModel.spaceshipModelId"
					class="table-row h-12 align-middle"
				>
					<div class="table-cell">{{ spaceshipModel.name }}</div>
					<div class="table-cell">{{ spaceshipModel.spaceshipType }}</div>
					<div class="table-cell">{{ spaceshipModel.maxHealth }}</div>
					<div class="table-cell">{{ spaceshipModel.tankCapacity }}</div>
					<div class="table-cell">{{ spaceshipModel.maxPower }}</div>
					<div class="table-cell">{{ spaceshipModel.consumptionForPower }}</div>
					<div class="table-cell">{{ spaceshipModel.energyRepartitionDelay }}</div>
					<div class="table-cell">{{ spaceshipModel.price }}</div>
					<div class="table-cell space-x-3">
						<button
							class="bg-blue-500 hover:bg-blue-700 text-light-50 text-xs font-bold leading-6 px-2 rounded-full mt-2"
							@click="editModel(spaceshipModel.spaceshipModelId)"
						>
							Edit
						</button>
						<button
							class="disabled:bg-gray-400 disabled:bg-gray-400 text-light-50 text-xs font-bold leading-6 px-2 rounded-full mt-2"
							disabled
							@click="deleteModel(spaceshipModel.spaceshipModelId)"
						>
							Delete
						</button>
					</div>
				</div>
			</div>
		</div>
		<button
			class="disabled:bg-gray-400 disabled:bg-gray-400 text-light-50 text-xs font-bold leading-6 px-2 rounded-full mt-2"
			disabled
			@click="createModel()"
		>
			New Spaceship
		</button>
    </section>
</template>

<script setup lang="ts">
import { ref, onMounted, reactive } from "vue";
import Modale from "@/components/Modale.vue";
import type { ResponseMessage } from "@/models/api.interfaces";

import { SpaceshipType } from "@/models/spaceship/spaceshipModel.interface";
import type {
	SpaceshipModel,
	UpdateSpaceshipModel,
} from "@/models/spaceship/spaceshipModel.interface";
import spaceshipModelApi from "@/services/spaceship/spaceshipModel.api";

const loading = ref(false);

const isModaleDeleteOpen = ref(false);
const isModaleOpen = ref(false);
const model = ref<SpaceshipModel[]>();

const error = ref<ResponseMessage>({ message: "", code: 0 });

const selected = reactive<UpdateSpaceshipModel>({
	name: "",
	spaceshipType: SpaceshipType.Basic,
	maxHealth: 0,
	maxPower: 0,
	tankCapacity: 0,
	consumptionForPower: 0,
	energyRepartitionDelay: 0,
	price: 0,
});

const id = ref<string>("");

const edition = ref(false);

onMounted(async () => {
	loading.value = true;
	try {
		const [
			getSpaceshipModels,
		] = await Promise.all([
			spaceshipModelApi.getSpaceshipModels(),
		]);
		model.value = getSpaceshipModels;
	} catch (err: any) {
		error.value = err;
	}
	loading.value = false;
});

function deleteModel(moduleId: string) {
	isModaleDeleteOpen.value = true;
	id.value = moduleId;
}

function editModel(moduleId: string): void {
	id.value = moduleId;
	const editSpaceship = model.value!.find(
		(s) => moduleId === s.spaceshipModelId,
	);
	if (editSpaceship) {
		selected.name = editSpaceship.name;
		selected.spaceshipType = editSpaceship.spaceshipType;
		selected.maxHealth = editSpaceship.maxHealth;
		selected.maxPower = editSpaceship.maxPower;
		selected.tankCapacity = editSpaceship.tankCapacity;
		selected.consumptionForPower = editSpaceship.consumptionForPower;
		selected.energyRepartitionDelay = editSpaceship.energyRepartitionDelay;
		selected.price = editSpaceship.price;
	}
	isModaleOpen.value = true;
	edition.value = true;
}

function createModel() {
	isModaleOpen.value = true;

	selected.name = "";
	selected.spaceshipType = SpaceshipType.Basic;
	selected.maxHealth = 0;
	selected.maxPower = 0;
	selected.tankCapacity = 0;
	selected.consumptionForPower = 0;
	selected.energyRepartitionDelay = 0;
	selected.price = 0;
}

async function updateSpaceshipModel(id: string): Promise<void> {
	isModaleOpen.value = false;
	edition.value = false;
	loading.value = true;
	try {
		await spaceshipModelApi.updateSpaceshipModel(selected, id);
		const getSpaceshipModels = await spaceshipModelApi.getSpaceshipModels();
		model.value = getSpaceshipModels;
	} catch (err: any) {
		error.value = err;
	}
	loading.value = false;
}

async function createSpaceshipModel() {
	isModaleOpen.value = false;
	loading.value = true;
	try {
		await spaceshipModelApi.createSpaceshipModel(selected);
		const getSpaceshipModels = await spaceshipModelApi.getSpaceshipModels();
		model.value = getSpaceshipModels;
	} catch (err: any) {
		error.value = err;
	}
	loading.value = false;
}

async function deleteSpaceshipModel(spaceshipModelId: string) {
	isModaleDeleteOpen.value = false;
	loading.value = true;
	try {
		await spaceshipModelApi.deleteSpaceshipModel(spaceshipModelId);
		const getSpaceshipModels = await spaceshipModelApi.getSpaceshipModels();
		model.value = getSpaceshipModels;
	} catch (err: any) {
		error.value = err;
	}
	loading.value = false;
}

</script>

<style lang="scss" scoped>
section {
	width: 90%;
	max-width: 1300px;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
}
.table {
	display: table;
	border-collapse: collapse;

	.table-cell {
		border: 2px solid;
		border-color: black;
		text-align: center;
	}
}
.btn {
	@apply px-4 py-1 text-sm text-purple-600 font-semibold
	rounded-full border border-black-200 dark:border-purple-800
	hover:text-white hover:bg-purple-600 hover:border-transparent
	focus:outline-none focus:ring-2 ring-purple-600 ring-opacity-40;
}
</style>
