<template>
	<Teleport to="body">
		<!------------------------------------------- Modale Deletion ------------------------------------------->
        <Modale
			:isOpen="isModaleDeleteOpen"
			@click-outside="isModaleDeleteOpen = false"
		>
			<div class="text-center space-y-2">
				<div class="space-y-0.5">
					<p class="text-lg text-black dark:text-white font-semibold mb-2">
						Are you sure ?
					</p>
				</div>
				<div class="space-x-2">
					<button class="btn" @click="deleteEngineModel(id)">yes</button>
					<button class="btn" @click="isModaleDeleteOpen = false">no</button>
				</div>
			</div>
			<p></p>
		</Modale>
        <!------------------------------------------- Modale Edition ------------------------------------------->
        <Modale 
            :isOpen="isModaleOpen" 
            @click-outside="isModaleOpen = false"
        >
			<form @submit.prevent="edition ? updateEngineModel(id) : createEngineModel()">
				<div class="space-y-2">
					<div class="flex flex-col space-y-0.5">
						<h2 class="text-center text-xl">Engine Edition</h2>
						<p>Name</p>
						<input
							v-model="selected.name"
							class="rounded-xl border-black-500 p-2 border-1"
							type="text"
							id="name"
							placeholder="Name.."
							minlength="4"
							required
						/>
						<p>Type</p>
						<select v-model="selected.engineType">
							<option v-for="dataEngine in EngineType" :key="dataEngine.valueOf">
								{{ dataEngine }}
							</option>
						</select>

						<p>Max Health</p>
						<input
							v-model="selected.maxHealth"
							class="rounded-xl border-black-500 p-2 border-1"
							type="number"
							id="number"
							placeholder="Max Health.."
							min="0"
							required
						/>
						<p>Max Power</p>
						<input
							v-model="selected.maxPower"
							class="rounded-xl border-black-500 p-2 border-1"
							type="number"
							id="number"
							placeholder="Max Power.."
							min="0"
							required
						/>
						<p>Max Speed</p>
						<input
							v-model="selected.maxSpeed"
							class="rounded-xl border-black-500 p-2 border-1"
							type="number"
							id="number"
							placeholder="Max Speed.."
							min="0"
							required
						/>
						<p>Size</p>
						<input
							v-model="selected.size"
							class="rounded-xl border-black-500 p-2 border-1"
							type="number"
							id="number"
							placeholder="Size.."
							min="0"
							max="4"
							required
						/>
						<p>Price</p>
						<input
							v-model="selected.price"
							class="rounded-xl border-black-500 p-2 border-1"
							type="number"
							id="number"
							placeholder="Price.."
							min="0"
							required
						/>
					</div>
					<button v-if="edition" class="btn">
						Save modification
					</button>
					<button v-else class="btn">Create</button>
				</div>
			</form>
		</Modale>
    </Teleport>
    <section>
        <h2 class="text-2xl">Engine Model</h2>
		<div class="table">
			<div class="table-header-group">
				<div class="table-row font-bold">
					<div class="table-cell">Name</div>
					<div class="table-cell">Type</div>
					<div class="table-cell">Max Health</div>
					<div class="table-cell">Max Power</div>
					<div class="table-cell">Max Speed</div>
					<div class="table-cell">Size</div>
					<div class="table-cell">Price</div>
					<div class="table-cell empty-cells-visible"></div>
				</div>
			</div>
			<div class="table-row-group">
				<div
					v-for="engineModel in model"
					:key="engineModel.engineModelId"
					class="table-row h-12 align-middle"
				>
					<div class="table-cell">{{ engineModel.name }}</div>
					<div class="table-cell">{{ engineModel.engineType }}</div>
					<div class="table-cell">{{ engineModel.maxHealth }}</div>
					<div class="table-cell">{{ engineModel.maxSpeed }}</div>
					<div class="table-cell">{{ engineModel.maxPower }}</div>
					<div class="table-cell">{{ engineModel.size }}</div>
					<div class="table-cell">{{ engineModel.price }}</div>
					<div class="table-cell space-x-3">
						<button
							class="bg-blue-500 hover:bg-blue-700 text-light-50 text-xs font-bold leading-6 px-2 rounded-full mt-2"
							@click="editModel(engineModel.engineModelId)"
						>
							Edit
						</button>
						<button
							class="bg-red-500 hover:bg-blue-700 text-light-50 text-xs font-bold leading-6 px-2 rounded-full mt-2"
							@click="deleteModel(engineModel.engineModelId)"
						>
							Delete
						</button>
					</div>
				</div>
			</div>
		</div>
		<button
			class="bg-blue-500 hover:bg-blue-700 text-light-50 text-xs font-bold leading-6 px-2 rounded-full mt-2"
			@click="createModel()"
		>
			New Engine
		</button>
    </section>
</template>

<script setup lang="ts">
import { ref, onMounted, reactive } from "vue";
import Modale from "@/components/Modale.vue";
import type { ResponseMessage } from "@/models/api.interfaces";
    
import { EngineType } from "@/models/engine/engineModel.interface";
import type { EngineModel, UpdateEngineModel } from "@/models/engine/engineModel.interface";
import engineModelApi from "@/services/engine/engineModel.api";
    
const loading = ref(false);

const isModaleDeleteOpen = ref(false);
const isModaleOpen = ref(false);
const model = ref<EngineModel[]>();
    
const error = ref<ResponseMessage>({ message: "", code: 0 });

const selected = reactive<UpdateEngineModel>({
	name: "",
	engineType: EngineType.Basic,
	maxHealth: 0,
	maxSpeed: 0,
	maxPower: 0,
	size: 0,
	price: 0,
});

const id = ref<string>("");

const edition = ref(false);

onMounted(async () => {
	loading.value = true;
	try {
		const [
			getEngineModels,
		] = await Promise.all([
			engineModelApi.getEngineModels(),
		]);
		model.value = getEngineModels;
	} catch (err: any) {
		error.value = err;
	}
	loading.value = false;
});

function deleteModel(moduleId: string) {
	isModaleDeleteOpen.value = true;
	id.value = moduleId;
}

function editModel(moduleId: string): void {
	id.value = moduleId;
	const editEngine = model.value!.find((e) => moduleId === e.engineModelId);
	if (editEngine) {
		selected.name = editEngine.name;
		selected.engineType = editEngine.engineType;
		selected.maxHealth = editEngine.maxHealth;
		selected.maxPower = editEngine.maxPower;
		selected.maxSpeed = editEngine.maxSpeed;
		selected.size = editEngine.size;
		selected.price = editEngine.price;
	}
	isModaleOpen.value = true;
	edition.value = true;
}

function createModel() {
	isModaleOpen.value = true;

	selected.name = "";
	selected.engineType = EngineType.Basic;
	selected.maxHealth = 0;
	selected.maxPower = 0;
	selected.maxSpeed = 0;
	selected.size = 0;
	selected.price = 0;
}

async function updateEngineModel(engineModelId: string) {
	isModaleOpen.value = false;
	loading.value = true;
	edition.value = false;
	try {
		await engineModelApi.updateEngineModel(engineModelId, selected);
		const getEngineModels = await engineModelApi.getEngineModels();
		model.value = getEngineModels;
	} catch (err: any) {
		error.value = err;
	}
	loading.value = false;
}

async function createEngineModel() {
	isModaleOpen.value = false;
	loading.value = true;
	try {
		await engineModelApi.createEngineModel(selected);
		const getEngineModels = await engineModelApi.getEngineModels();
		model.value = getEngineModels;
	} catch (err: any) {
		error.value = err;
	}
	loading.value = false;
}

async function deleteEngineModel(engineModelId: string) {
	isModaleDeleteOpen.value = false;
	loading.value = true;
	try {
		await engineModelApi.deleteEngineModel(engineModelId);
		const getEngineModels = await engineModelApi.getEngineModels();
		model.value = getEngineModels;
	} catch (err: any) {
		error.value = err;
	}
	loading.value = false;
}
</script>

<style lang="scss" scoped>
    section {
        width: 90%;
        max-width: 1300px;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
    }
    .table {
        display: table;
        border-collapse: collapse;
    
        .table-cell {
            border: 2px solid;
            border-color: black;
            text-align: center;
        }
    }
    .btn {
        @apply px-4 py-1 text-sm text-purple-600 font-semibold
        rounded-full border border-black-200 dark:border-purple-800
        hover:text-white hover:bg-purple-600 hover:border-transparent
        focus:outline-none focus:ring-2 ring-purple-600 ring-opacity-40;
    }
    </style>