<template>
	<Teleport to="body">
		<Message
			:isOpen="dialog.isOpen"
			:text="dialog.message"
		/>
	</Teleport>
	<section class="fit-content">
		<div v-if="battleData.status === RoomState.End">
			<router-link
				to="/members/me"
				class="bg-indigo-500 hover:bg-indigo-300 disabled:bg-gray-400 disabled:cursor-not-allowed p-2 text-center rounded-xl text-light-50"
			>Back to Profile</router-link>
		</div>
		<ul>
			<li>
				<h2>Name: {{ name }}</h2>
			</li>
			<li>
				<details>
					<summary>Spaceship: {{ spaceship.name }}</summary>
					<pre>{{ JSON.stringify(spaceship, null, 2) }}</pre>
				</details>
			</li>
			<li>
				<h2>Room State: {{ battleData.status }}</h2>
			</li>
			<li>
				<h2>Room id: {{ battleData.roomId }}</h2>
			</li>
		</ul>
		<ul v-if="battleData.opponentSpaceship">
			<li>
				<h2>Opponent name: {{ battleData.opponentName }}</h2>
			</li>
			<li>
				<details>
					<summary>Opponent spaceship: {{ battleData.opponentSpaceship.name }}</summary>
					<pre>{{ JSON.stringify(battleData.opponentSpaceship, null, 2) }}</pre>
				</details>
			</li>
		</ul>
		<div v-if="battleData.status === RoomState.InGame && battleData.opponentSpaceship" class="mt-8">
			<div>
				<h3 class="text-xl">Opponent health</h3>
				<p>{{ battleData.opponentSpaceship.health }}/{{ battleData.opponentSpaceship.maxHealth }}</p>
			</div>
			<div class="mt-4">
				<h3 class="text-xl">Your health</h3>
				<p>{{ spaceship.health }}/{{ spaceship.maxHealth }}</p>
			</div>
			<ul class="mt-6">
				<li v-for="weapon in spaceship.weapons" class="flex flex-col" :key="weapon.weaponId">
					<button
						:disabled="timeRemaining > 0"
						:class="{ 'btn-reload': timeRemaining > 0 }"
						@click="attack(weapon.weaponId)"
						class="btn bg-indigo-500 hover:bg-indigo-300 p-2 rounded-xl text-light-50 disabled:cursor-not-allowed"
					>{{ weapon.name }} [{{ weapon.weaponType }}]</button>
					<div class="flex flex-row gap-x-4">
						<small>{{ weapon.currentLoad }}/{{ weapon.magSize }} ammos</small>
						<small>{{ weapon.damage }} damages</small>
						<small>Time before next shot: {{ timeRemaining > 0 ? timeRemaining : 0 }}</small>
					</div>
				</li>
			</ul>
		</div>
	</section>
</template>

<script setup lang="ts">
import { watch, reactive, ref } from "vue";
import type {
	BattleData,
	Attack,
	JoinRoom,
	NewPlayerJoined,
	OpponentData,
	OpponentStatusUpdate,
	SpaceshipStatusUpdate,
	LeaveRoom,
	AttackProcessingResult
} from "@/models/battle.models";
import {
	MessageType,
	RoomState,
} from "@/models/battle.models";
import { useRouter } from "vue-router";
import type { Configuration } from "@/models/configuration.models";
import Message from "@/components/Message.vue";

const router = useRouter();

const props = defineProps<{
	name: string,
	spaceship: Configuration,
	token: string,
}>();

const battleData= reactive<BattleData>({
	status: RoomState.Wait,
	roomId: "",
	name: props.name,
	spaceship: props.spaceship,
	opponentName: "",
	opponentSpaceship: null,
});

interface Dialog {
	isOpen: boolean;
	message: string;
}

const dialog = reactive<Dialog>({
	isOpen: false,
	message: "",
});

watch(() => dialog.isOpen, (isOpen) => {
	if (isOpen) {
		setTimeout(() => dialog.isOpen = false, 2200);
	}
})

watch(() => battleData.status, (status) => {
	if (status === RoomState.End) {
		socket.close();
	} else if (status === RoomState.Refused) {
		socket.close();
		dialog.message = "You're already in game!";
		dialog.isOpen = true;
	}
});

const timeRemaining = ref(0);
const cssTime = ref(`${battleData.spaceship.weapons[0].reloadTime}ms`);

setInterval(() => timeRemaining.value > 0 ? timeRemaining.value -= 100: null, 100);

const socket = new WebSocket(`${import.meta.env.VITE_SOCKET}://${import.meta.env.VITE_API_URL}/api/room?token=${props.token}`);

socket.onopen = () => {
	console.log("Connected to room");
}

socket.onerror = (error) => {
	console.error("Error: ", error);
	router.push({ path: "/members/me" });
}

function joinRoom(data: JoinRoom): void {
	battleData.roomId = data.roomId;
	battleData.status = data.roomState;
}

function leaveRoom(data: LeaveRoom): void {
	battleData.status = data.roomState;
	battleData.opponentName = "";
	battleData.opponentSpaceship = null;
	dialog.message = "Your opponent left the room";
	dialog.isOpen = true;
}

function newPlayerJoined(data: NewPlayerJoined): void {
	battleData.status = data.roomState;
	battleData.opponentName = data.playerName;
	battleData.opponentSpaceship = data.playerSpaceship;
	dialog.message = `${data.playerName} joined the room`;
	dialog.isOpen = true;
}

function opponentData(data: OpponentData): void {
	battleData.opponentName = data.name;
	battleData.opponentSpaceship = data.spaceship;
}

function opponentStatusUpdate(data: OpponentStatusUpdate): void {
	battleData.opponentSpaceship!.health = data.health;
	if (data.roomState === RoomState.End) {
		endGame(data.hasWon);
	}
	battleData.status = data.roomState;
}

function spaceshipStatusUpdate(data: SpaceshipStatusUpdate): void {
	battleData.spaceship.health = data.health;
	if (data.roomState === RoomState.End) {
		endGame(data.hasWon);
	}
	battleData.status = data.roomState;
}

function attackProcessingResult(data: AttackProcessingResult): void {
	const weapon = battleData.spaceship.weapons.find((weapon) => weapon.weaponId === data.weaponId);
	weapon!.currentLoad = data.ammos;
	weapon!.nextShotTime = data.nextShotTime;
	timeRemaining.value = new Date(weapon!.nextShotTime).getTime() - new Date().getTime();
}

const messageTypeMap = new Map<MessageType, (data: any) => void>([
	[MessageType.JoinRoom, joinRoom],
	[MessageType.NewPlayerJoined, newPlayerJoined],
	[MessageType.OpponentData, opponentData],
	[MessageType.OpponentStatusUpdate, opponentStatusUpdate],
	[MessageType.SpaceshipStatusUpdate, spaceshipStatusUpdate],
	[MessageType.LeaveRoom, leaveRoom],
	[MessageType.AttackProcessingResult, attackProcessingResult],
]);

socket.onmessage = (event) => {
	const unknownData = JSON.parse(event.data);
	console.log(unknownData);
	const action = messageTypeMap.get(unknownData.messageType);
	if (action) {
		action(unknownData);
	} else {
		console.error("Unknown message type: ", unknownData.messageType);
	}
};

function endGame(hasWon: boolean): void {
	socket.close();
	dialog.message = hasWon ? "You won!" : "You lost!";
	dialog.isOpen = true;
}

function attack(weaponId: string): void {
	try {
		const attack: Attack = { weaponId };
		socket.send(JSON.stringify(attack));
	} catch(err) {
		console.error(err);
	}
}

router.beforeEach((_to, from) => {
	if (from.path === "/battle") {
		socket.close();
	}
});
</script>

<style lang="scss">
.dialog {
	position: fixed;
	top: 50%;
	left: 0;
	transform: translateY(50%);
	border: 2px solid gray;
}

dialog::backdrop {
	background: rgba(0, 0, 0, 0.5);
}

.btn {
	box-shadow: inset 0 0 0 0 #6366f1;
}

.btn-reload {
	box-shadow: inset 400px 0 0 0 #6366f1;
	transition: all v-bind(cssTime) ease-in;
}
</style>