<template>
	<header class="p-8">
		<div class="flex justify-between">
			<h1 class="text-5xl font-bold text-center">
				<router-link to="/">Spaceship battle</router-link>
			</h1>
			<nav v-if="authStore.isAuth" class="flex items-center gap-x-8">
				<router-link to="/store" class="underline">Shop</router-link>
				<router-link to="/garage" class="underline">Garage</router-link>
				<router-link v-if="memberStore.getMember.isAdmin" to="/admin" class="underline">Admin Panel</router-link>
				<router-link to="/members/me" class="underline">My profile</router-link>
				<button @click="logout" class="bg-indigo-500 hover:bg-indigo-300 disabled:bg-gray-400 disabled:cursor-not-allowed py-1 px-4 rounded-xl text-light-50">Logout</button>
			</nav>
		</div>
	</header>
</template>

<script setup lang="ts">
import { useAuth } from "@/stores/auth";
import { useRouter } from "vue-router";
import { useMember } from "@/stores/member";

const memberStore = useMember();
const authStore = useAuth();
const router = useRouter();


function logout(): void {
	localStorage.removeItem("TOKEN");
	authStore.isAuth = false;
	router.push({ path: "/login" });
}
</script>