<template>
	<Transition name="slide-fade">
		<dialog
            v-if="isOpen"
			open
			class="m-0 bg-stone-200 rounded-2xl text-stone-900 modale"
			ref="target"
		>
			<slot>

            </slot>
		</dialog>
	</Transition>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { onClickOutside } from '@vueuse/core'
const target =  ref(null);
const emit = defineEmits(['clickOutside'])

const props = defineProps<{
	isOpen: boolean;
}>();

onClickOutside(target, (event) => emit('clickOutside'));
</script>

<style lang="scss" scoped>
.slide-fade-enter-active {
	transition: all 0.15s ease-out;
}

.slide-fade-leave-active {
	transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
	transform: translateX(-20px);
	opacity: 0;
}

dialog {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
dialog::backdrop {
	background-color: rgd(255,255,255,0.5);
}
</style>

