<template>
	<section v-if="memberStore.getMember.isAdmin" class="fit-content">
		<h1 class="text-3xl font-bold mb-8">Admin dashboard</h1>
		<div class="flex flex-col gap-4">
			<router-link to="/admin/members" class="text-indigo-500 underline">Members</router-link>
			<router-link to="/admin/spaceshipModule" class="text-indigo-500 underline">Spaceship Module</router-link>
			<router-link to="/admin/cargoModule" class="text-indigo-500 underline">Cargo Module</router-link>
			<router-link to="/admin/engineModule" class="text-indigo-500 underline">Engine Module</router-link>
			<router-link to="/admin/shieldModule" class="text-indigo-500 underline">Shield Module</router-link>
			<router-link to="/admin/weaponModule" class="text-indigo-500 underline">Weapon Module</router-link>
		</div>
	</section>
	<section v-else>
		<p class="text-red-500 text-sm">You are not an admin!</p>
	</section>
</template>


<script setup lang="ts">
import { useMember } from "@/stores/member";

const memberStore = useMember();
</script>


<style lang="scss" scoped>
section {
	width: 90%;
	max-width: 960px;
	margin-inline: auto;
	display: flex;
	flex-direction: column;

	div {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}
</style>