<template>
	<Teleport to="body">
		<Modale :isOpen="isModaleDeleteOpen" @click-outside="isModaleDeleteOpen = false">
			<div class="text-center space-y-2">
				<div class="space-y-0.5">
					<p class="text-lg text-black dark:text-white font-semibold mb-2">
						Are you sure ?
					</p>
				</div>
				<div class="space-x-2">
					<button class="btn" @click="deleteMember(id)">yes</button>
					<button class="btn" @click="isModaleDeleteOpen = false">no</button>
				</div>
			</div>
			<p></p>
		</Modale>
		<Modale :isOpen="isModaleEditOpen" @click-outside="isModaleEditOpen = false">
			<form @submit.prevent="uptdateMember(id)">
				<div class="space-y-2">
					<div class="flex flex-col space-y-0.5">
						<h2 class="text-center text-xl">Member Edition</h2>
						<p>Name</p>
						<input
							v-model="selectedMember.name"
							class="rounded-xl border-black-500 p-2 border-1"
							type="text"
							id="name"
							placeholder="Name.."
							minlength="4"
							required
						/>
						<p>Email</p>
						<input
							v-model="selectedMember.email"
							class="rounded-xl border-black-500 p-2 border-1"
							type="email"
							id="email"
							placeholder="Email.."
							required
						/>
						<div class="space-x-2">
							<p>Administrator</p>
							<input
								v-model="selectedMember.isAdmin"
								type="radio"
								id="isNotAdmin"
								name="admin"
								v-bind:value="false"
								checked
							/>
							<label for="isNotAdmin">No</label>

							<input
								v-model="selectedMember.isAdmin" 
								type="radio" 
								id="isAdmin" 
								name="admin" 
								v-bind:value="true" 
							/>
							<label for="isAdmin">Yes</label>
						</div>
						<p>Credit</p>
						<input
							v-model="selectedMember.credits"
							class="rounded-xl border-black-500 p-2 border-1"
							type="number"
							id="number"
							placeholder="Credits"
							required
						/>
					</div>
					<button class="btn">Save modification</button>
				</div>
			</form>
		</Modale>
	</Teleport>
	<section v-if="memberStore.getMember.isAdmin">
		<h1 class="text-center text-3xl">Member List</h1>
		<div class="table">
			<div class="table-header-group">
				<div class="table-row font-bold">
					<div class="table-cell">Name</div>
					<div class="table-cell">Mail</div>
					<div class="table-cell">IsAdmin</div>
					<div class="table-cell">Credits</div>
					<div class="table-cell empty-cells-visible"></div>
				</div>
			</div>
			<div class="table-row-group">
				<div
					v-for="member in members?.members"
					:key="member.memberId"
					class="table-row h-12 align-middle"
				>
					<div class="table-cell">{{ member.name }}</div>
					<div class="table-cell">{{ member.email }}</div>
					<div class="table-cell">{{ member.isAdmin }}</div>
					<div class="table-cell">{{ member.credits }}</div>
					<div class="table-cell space-x-3">
						<button
							class="bg-blue-500 hover:bg-blue-700 text-light-50 text-xs font-bold leading-6 px-2 rounded-full mt-2"
							@click="editMember(member.memberId)"
						>
							Edit
						</button>
						<button
							class="bg-red-500 hover:bg-blue-700 text-light-50 text-xs font-bold leading-6 px-2 rounded-full mt-2"
							@click="modaleDelete(member.memberId)"
						>
							Delete
						</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section v-else>
		<p class="text-red-500 text-sm">
			Vous n'avez pas l'autorisation d'accèder au panel d'administration !
		</p>
	</section>
</template>

<script setup lang="ts">
import { ref, onMounted, reactive } from "vue";
import { useAuth } from "@/stores/auth";
import { useRouter } from "vue-router";
import { useMember } from "@/stores/member";
import Modale from "@/components/Modale.vue";

import type { ResponseMessage } from "@/models/api.models";
import type { Member, MemberList, UpdateMember } from "@/models/member.models";
import memberApi from "@/services/member.api";

const authStore = useAuth();
const router = useRouter();
const member = ref<Member>();
const error = ref<ResponseMessage>({ message: "", code: 0 });
const loading = ref(false);
const isModaleDeleteOpen = ref(false);
const isModaleEditOpen = ref(false);
const members = ref<MemberList>();

const memberStore = useMember();

const id = ref<string>("");

const selectedMember = reactive<UpdateMember>({
	name: "",
	email: "",
	credits: 0,
	isAdmin: false,
});

onMounted(async () => {
	try {
		const [getMembers] = await Promise.all([memberApi.getMembers(20, 0)]);

		members.value = getMembers;
	} catch (err: any) {
		error.value = err;
	}
});

function editMember(memberId: string): void {
	id.value = memberId;
	const editMember = members.value?.members.find((m) => memberId === m.memberId);
	if (editMember) {
		selectedMember.name = editMember.name;
		selectedMember.email = editMember.email;
		selectedMember.credits = editMember.credits;
		selectedMember.isAdmin = editMember.isAdmin;
	}
	isModaleEditOpen.value = true;
}

function modaleDelete(memberId: string) {
	id.value = memberId;
	isModaleDeleteOpen.value = true;
}

async function uptdateMember(memberId: string) {
	loading.value = true;
	isModaleEditOpen.value = false;
	try {
		const message = await memberApi.updateMember(selectedMember, memberId);
		console.log(message);
		const [getMembers] = await Promise.all([memberApi.getMembers(20, 0)]);
		members.value = getMembers;
	} catch (err: any) {
		error.value = err;
	}
	loading.value = false;
}

async function deleteMember(memberId: string) {
	isModaleDeleteOpen.value = false;
	loading.value = true;
	try {
		await memberApi.deleteMember(memberId);
	} catch (err: any) {
		error.value = err;
	}
	loading.value = false;
}
</script>

<style lang="scss" scoped>
section {
	width: 90%;
	max-width: 960px;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
}
.table {
	display: table;
	border-collapse: collapse;

	.table-cell {
		border: 2px solid;
		border-color: black;
		text-align: center;
	}
}
.btn {
	@apply px-4 py-1 text-sm text-purple-600 font-semibold
	rounded-full border border-black-200 dark:border-purple-800
	hover:text-white hover:bg-purple-600 hover:border-transparent
	focus:outline-none focus:ring-2 ring-purple-600 ring-opacity-40;
}
</style>
