<template>
	<div v-if="isLoading">Loading...</div>
	<div v-else>
		<Header />
		<main>
			<RouterView />
		</main>
		<Footer />
	</div>
</template>

<script lang="ts" setup>
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";
import { onMounted, ref } from "vue";
import { useAuth } from "@/stores/auth";
import { useMember } from "@/stores/member";
import memberApi from "./services/member.api";
import type { ResponseMessage } from "./models/api.models";
import { useRouter } from "vue-router";

const router = useRouter();
const authStore = useAuth();
const memberStore = useMember();
const isLoading = ref<boolean>(false);

onMounted(async () => {
	if (authStore.isAuth) {
		isLoading.value = true;
		try {
			const getMember = await memberApi.getMe();
			memberStore.member = getMember;
		} catch (err: any) {
			localStorage.removeItem("TOKEN");
			router.push({ path: "/login" });
		}
		isLoading.value = false;
	}
});
</script>

<style lang="scss">
.fit-content {
	width: 90%;
	max-width: 400px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-direction: column;

	> div {
		display: flex;
		flex-direction: column;
	}
}

.fit-content-large {
	width: 90%;
	max-width: 960px;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
}
</style>